<section>
    <br>
    <br>
    <div class="col-12">
      <form nz-form [formGroup]="programForm" [nzLayout]="'vertical'" (ngSubmit)="programs()">
        <div class="row">
          <div class="col-8">
            <div class="row">
              <div class="col-md-10">
                <nz-form-item>
                    <nz-form-label>Date</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker formControlName="firstAiredOn" class="w-100" nzShowTime nzDisabled="true"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col-md-10">
                <nz-form-item>
                  <nz-form-label nzRequired>Title</nz-form-label>
                  <nz-form-control nzErrorTip="Enter valid Title between 3 to 250 characters!">
                      <input type="text" formControlName="title" placeholder="Enter Title" dir="rtl"
                          nz-input>
                  </nz-form-control>
              </nz-form-item>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <nz-form-item>
                  <nz-form-label nzRequired>Description</nz-form-label>
                  <nz-form-control nzErrorTip="Enter Description maximum 1500 characters allowed!">
                      <editor formControlName="description" [init]="tinyConfig"></editor>
                  </nz-form-control>
              </nz-form-item>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <dynamic-file-selector 
                        [title]="'Promo Video'" 
                        [fileTypes]="'video/mp4 video/3gp video/avi video/mpeg video/mov'" 
                        [field]="tempFile"
                        [customDiv]="'mainFile'"
                        [formField]="programForm" 
                        (onFileRemove)="reset($event)" 
                        (onFileSelection)="mainFileSelection($event)" 
                        (onFileUpload)="mainFileUploaded($event)" 
                        >
                            <div mainFile class="mt-2" >
                                <!-- <img *ngIf="programsModel?.fileUrl" class="mt-2" width="50%" height="50%"
                                [src]="programsModel?.fileUrl">                            -->
                                <video *ngIf="programsModel?.videoUrl" id="video1" class="img" style="width:50%; height:50%;" controls>
                                    <source [src]="programsModel?.videoUrl">
                                  </video>
                                <br>
                                <!-- <i style="cursor: pointer; font-size: 18px;" nz-icon nzType="delete" nzTheme="outline" (click)="removePicture()"></i> -->
                              </div>
                        </dynamic-file-selector> 
              </div>
              <div class="col-md-6">
                <dynamic-file-selector 
                        [customDiv]="'thumbnail'" 
                        [title]="'Thumbnail Image'" 
                        [fileTypes]="'image/png image/jpg image/jpeg image/gif'" 
                        [field]="tempThumbanilFile"
                        [formField]="programForm" 
                        (onFileSelection)="thumbnailFileSelection($event)"
                        (onFileRemove)="resetThumbnail($event)" 
                        (onFileUpload)="thumbnailUploaded($event)" 
                        >
                            <div thumbnail class="mt-2" >
                                <img *ngIf="programsModel?.thumbnailUrl" class="mt-2" width="40%" height="40%"
                                [src]="programsModel.thumbnailUrl">                                                          
                                <br>
                                <!-- <i style="cursor: pointer; font-size: 18px;" nz-icon nzType="delete" nzTheme="outline" (click)="removePicture()"></i> -->
                              </div>
                        </dynamic-file-selector>
              </div>
            </div>
          </div>
          <div class="col-4">
            <h4>General Settings</h4>
            <nz-form-item>
              <nz-form-control>
                <nz-switch formControlName="isActive" class="mr-3"> </nz-switch> Active
              </nz-form-control>
            </nz-form-item>
                <div class="mb-4">
                    <h4 class="mb-2">SEO Settings</h4>
                    <nz-form-item>
                      <nz-form-label nzRequired>Slug Line</nz-form-label>
                      <nz-form-control nzErrorTip="Enter Slug Line maximum 250 characters allowed!">
                          <input type="text" formControlName="slugLine" placeholder="Enter Slug Line" dir="rtl"
                              nz-input>
                      </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                      <nz-form-label nzRequired>Title</nz-form-label>
                      <nz-form-control nzErrorTip="Enter Title between 3 to 250 characters!">
                          <input type="text" formControlName="seoTitle" placeholder="Enter Title" dir="rtl"
                              nz-input>
                      </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                      <nz-form-label nzRequired>Description</nz-form-label>
                      <nz-form-control nzErrorTip="Enter Description maximum 250 characters allowed!">
                          <textarea rows="4" formControlName="seoDescription" type="text"
                              placeholder="Enter Description" dir="rtl" nz-input></textarea>
                      </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                      <nz-form-label nzRequired>Keywords</nz-form-label>
                      <nz-form-control nzErrorTip="Enter Keywords!"
                          nzExtra="Enter keywords seperated by a comma (,) .">
                          <input formControlName="keywords" type="text" placeholder="Enter Keywords" dir="rtl"
                              nz-input>
                      </nz-form-control>
                  </nz-form-item>
                </div>
          </div>
        </div>
        <nz-form-item>
          <nz-form-control [nzSpan]="14">
            <button *ngIf="!programId" class="mr-3" nz-button nzType="primary">Save</button>
            <button *ngIf="programId" class="mr-3" nz-button nzType="primary">Update</button>
            <button (click)="[getCaptcha($event),cancel()]" nz-button nzType="default">Cancel</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>

    <div *ngIf="isVisible">
      <tiny-file-modal (onSelectFile)="fileFromModal($event)" [isVisible]="isVisible" (closeModal)="closeModal($event)">
      </tiny-file-modal>
  </div>

  </section>
  