<section>
    <br>
    <br>
    <div class="col-12">
      <form nz-form [nzLayout]="'vertical'">
        <div class="row">
          <div class="col-8">
            <div class="row">
              <div class="col-md-10">
                <nz-form-item>
                    <nz-form-label>Date</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker class="w-100" nzShowTime></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col-md-10">
                <nz-form-item>
                  <nz-form-label>Title</nz-form-label>
                  <nz-form-control>
                    <input type="text" nz-input placeholder="Enter Title">
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <nz-form-item>
                    <nz-form-label>Description</nz-form-label>
                    <nz-form-control>
    
                        <!-- formControlName="description" -->
                        <!-- <quill-editor [style]="{height: '500px', background:'white'}" [modules]="editorConfig">
                        </quill-editor> -->
                        <!-- 'advlist autolink lists link image charmap print preview anchor',
                        'searchreplace visualblocks code fullscreen',
                        'insertdatetime media table paste code help wordcount', -->
    <!-- 
                        {
                            base_url: '/tinymce',
                            suffix: '.min', 
                          height: 400,
                          menubar: true,
                          plugins: [
                            'advlist autolink link image lists charmap print preview hr anchor pagebreak',
                            'searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking',
                            'table contextmenu directionality emoticons paste textcolor responsivefilemanager code',
                            'advlist autolink lists link image charmap print preview anchor',
                            'searchreplace visualblocks code fullscreen',
                            'insertdatetime media table contextmenu paste qrcode'
                          ],
                          toolbar:
                            'undo redo | formatselect | bold italic backcolor | \
                            alignleft aligncenter alignright alignjustify | \
                            bullist numlist outdent indent | removeformat | help'
                        } -->
                        <editor id="tinyMce" apiKey="pl277auj2y5uqk3nkk28sz4d32vimlj6ezd5b6t6vee325u4" [init]="tinyMCEConfig"></editor>
    
                    </nz-form-control>
                </nz-form-item>
              </div>
              <!-- <div class="col-md-6">
  
              </div> -->
            </div>
            <div class="row">
              <div class="col-md-6">
                <nz-form-item>
                  <h4>Thumbnail Image</h4>
                  <nz-form-label>Image Upload</nz-form-label>
                  <!-- <nz-form-control>
                    <input type="file" nz-input placeholder="Enter Password">
                  </nz-form-control> -->
                  <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
                    <button nz-button>
                      <i nz-icon nzType="upload"></i>
                      Select File
                    </button>
                  </nz-upload>
                  <!-- <button
                    nz-button
                    [nzType]="'primary'"
                    [nzLoading]="uploading"
                    (click)="handleUpload()"
                    [disabled]="fileList.length === 0"
                    style="margin-top: 16px">
                    {{ uploading ? 'Uploading' : 'Start Upload' }}
                  </button> -->
                </nz-form-item>
              </div>
              <div class="col-md-6">
                <nz-form-item>
                  <h4>Promo Video</h4>
                  <nz-form-label>Video Upload</nz-form-label>
                  <!-- <nz-form-control>
                    <input type="file" nz-input placeholder="Enter Password">
                  </nz-form-control> -->
                  <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
                    <button nz-button>
                      <i nz-icon nzType="upload"></i>
                      Select File
                    </button>
                  </nz-upload>
                  <!-- <button
                    nz-button
                    [nzType]="'primary'"
                    [nzLoading]="uploading"
                    (click)="handleUpload()"
                    [disabled]="fileList.length === 0"
                    style="margin-top: 16px">
                    {{ uploading ? 'Uploading' : 'Start Upload' }}
                  </button> -->
                </nz-form-item>
              </div>
            </div>
          </div>
          <div class="col-4">
            <h4>General Settings</h4>
            <nz-form-item>
              <nz-form-control>
                <nz-switch class="mr-3"> </nz-switch> Active
              </nz-form-control>
            </nz-form-item>
                <div class="mb-4">
                    <h4 class="mb-2">SEO Settings</h4>
                    <nz-form-item>
                        <nz-form-label>Slug Line</nz-form-label>
                        <nz-form-control>
                            <input type="text" placeholder="Enter Slug Line" dir="rtl" nz-input>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label>Title</nz-form-label>
                        <nz-form-control>
                            <input type="text" placeholder="Enter Title" dir="rtl" nz-input>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label>Description</nz-form-label>
                        <nz-form-control>
                            <textarea rows="4" type="text" placeholder="Enter Description" dir="rtl" nz-input></textarea>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label>Keyords</nz-form-label>
                        <nz-form-control nzExtra="Enter keywords seperated by a comma (,) .">
                            <input type="text" placeholder="Enter Keywords" dir="rtl" nz-input>
                        </nz-form-control>
                    </nz-form-item>
                </div>
          </div>
        </div>
        <nz-form-item>
          <nz-form-control [nzSpan]="14">
            <button class="mr-3" nz-button nzType="primary">Save</button>
            <button nz-button nzType="default">Cancel</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </section>
  