/*Generic Style*/

html{
  direction: rtl;
  text-align: right;
}

a{
  text-decoration: none;
  cursor: pointer;
  animation: ease-in;
}
a:hover{
  animation: ease-in;
}

p{
  font-size: 16px;
  line-height: normal;
}


/*Charts Style*/
.index-graph-table{
  margin: 100px 0;
}
.highcharts-credits{
  display: none;
}
.highcharts-exporting-group{
  display: none;
}
.highcharts-input-group{
  display: none;
}
.highcharts-range-selector-buttons{
  display: flex;
  justify-content: center;
  display: none;
}
.highcharts-range-selector-buttons .highcharts-button .highcharts-button-box{
  fill: white;
}
.highcharts-range-selector-buttons .highcharts-label{
  display: none;
}
.fixed_header tbody {
  display: block;
  max-height: 350px;
  overflow-y: scroll;
  padding-top: 10px;
}

.fixed_header thead, 
.fixed_header tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
table thead th{
  text-transform: capitalize;
}



::-webkit-scrollbar {
  width: 8px;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
 
::-webkit-scrollbar-thumb {
  /* background-color: #DDDDDD; */
  background-color: #005594;
  border-radius: 5px;
}
