html{
    direction: ltr;
    text-align: left;
}
.top-bar .btn-close{
    left: auto;
    right: 0;
}
.header-box{
    display: flex;
}
.search-header .search-box .input-group-text {
    right: 5px;
    left: auto;
}