/* @import "/variables.scss"; */
@media screen and (max-width: 1400px){
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 96%;
    }
    .header-search-nav ul li a {
        padding: 5px 14px;
    }
}
@media (min-width: 1920px){
    .container{
        max-width: 1291px;
    }
}

@media (min-width: 1024px){
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 960px;
        padding: 0;
    }
    // .mainsection_newsimage__zRzlt{
    //     width: 100% !important;
    //     min-width: 100%;
    // }
}
@media (min-width: 1340px){
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1290px;
        padding: 0;

    }
}

@media screen and (max-width:1280px){
    .logo-header {
        flex: 2;
    }
    .header-nav ul li a {
        font-size: 14px;
    }
    .header-search-nav ul li a {
        font-size: 14px;
    }
    .market-stats{
        overflow-x: auto;
        min-width: 100%;
    }
    .market-stats .marketBox {
        min-width: 200px;
        margin-left: 20px;
    }
  }
  @media screen and (max-width:1199px){
    .top-grey-bar, .top-red-bar{
        font-size: 14px;
    }
    .top-bar .btn-close img{
        width: 14px;
        height: 14px;
    }
    .NewsList li a{
        font: normal normal bold 15px/23px Cairo;

    }
    .NewsList li .newsImage {
        flex: inherit;
    }
    .NewsList li .newsText{
        margin-left: 10px;
    }
    .stockMarketNews {
        margin: 15px 0 40px;
    }
    .VideoTiles .NewsContent h4{
        font: normal normal bold 12px/20px Cairo;

    }
    .VideoNews .NewsImage {
        height: 290px;
    }
    .VideoNews .NewsContent h4{
        font: normal normal bold 18px/32px Cairo;

    }
    .VideoTiles .VideoNews .NewsImage {
        height: 80px;
    }
    .VideoTiles {
        margin-bottom: 21px;
    }
    .NewsLightTiles .VideoNews .NewsImage {
        height: 290px;
    }
    .NewsLightTiles .VideoTiles .VideoNews .NewsImage {
        height: 80px;
        width: 150px;
    }
    .NewsTiles .newBox.newBoxf .NewsImage {
        height: 200px;
        // width: 410px;
        width: 100%;
    }
    .NewsTiles .newBox .NewsInfo h3{
        font: normal normal bold 20px/35px Cairo;

    }
    .NewsTiles .newBox.newBoxfs{
        width: 100%;
    }
    .NewsTiles .newBox.newBoxfs .NewsImage {
        height: 200px;
        width: 100%
    }
    .NewsTiles .newBoxfs .NewsInfo h4{
        font: normal normal bold 15px/23px Cairo;
    }
    .NewsTiles .newBox .NewsImage{
        width: 100%;
        height: 95px;
    }
    .NewsTiles .newBox .NewsInfo h4{
        font: normal normal bold 15px/23px Cairo;

    }
    .sidebanner_smallBanner__lXwev{
        width: 100% !important;
    }
    .NewsLightTiles .VideoTiles .VideoNews{
        width: 150px;
    }
    .VideoNews .NewsContent{
        background-image: linear-gradient(to top, #071D39 0%, #071d3900);
    }
    // single video page
    .single_video_main{
        .VideoNews {
            .NewsImage{
                height: 354px;
            }
        }
        .pageSimpleTitle {
            h1 {

                font: normal normal bold 30px/48px Cairo;
            }
        }
    }
    // program details page
    .programDetailNews {
        padding: 50px 0;
        .VideoNews .NewsImage {
            height: 354px;
        }
         .VideoNews .NewsContent h4 {
            font: normal normal bold 24px/38px Cairo;
        }
        button.btn.btn-outline-light.ms-3 {
            margin-left: 5px !important;

        }
        .SimpleDarkNews .btn-outline-light {
            min-width: 108px;
            font-size: 13px;
        }
    }
    // breaking news page
    .breakingNews {
        .newsbox .newslink a {

            font: normal normal bold 15px/23px Cairo;
        }
    }
    .mb-3.newsDetailimg{
        width: 100%;
    }
    .news_artical_detail{
        .VideoNews .NewsImage {
            height: 354px;
        }
        .VideoNews .NewsContent h4 {

            font: normal normal bold 24px/38px Cairo;
        }
    }
    .infographics_detail img{
        height: 354px;
    }
    .searchResultList .NewsList li .newsImage {
        max-width: 190px;
        height: 107px;
    }

  }
  @media screen and (max-width:1140px){
    .header-nav ul li a {
        font-size: 13px;
    }
    .header-search-nav ul li a {
        font-size: 13px;
        padding: 5px 10px;
    }
    .page-nav .navbar .navbar-nav .nav-item a {
        font-size: 14px;
    }
  }
  @media screen and (max-width:1024px){
    .header-nav ul li a {
        font-size: 12px;
    }
    .header-search-nav ul li a {
        font-size: 12px;
        padding: 5px 10px;
    }
    .page-nav .navbar .navbar-nav .nav-item a {
        font-size: 13px;
    }
    .header-nav ul li {
        margin: 0px;
    }
    .scheduleCalendar .nav .nav-item .nav-link{
        font-size: 1.2rem;
    }
    .VideoNews .NewsImage {
        height: 354px;
    }
    .VideoNews .NewsContent h4 {
        font: normal normal bold 24px/38px Cairo;
    }
    .NewsTiles .newBox .PlayTime .btn-text {
        width: 35px;
        height: 35px;
    }
    .NewsTiles .newBox .PlayTime .btn {

        padding: 11px 12px;
    }
    .newBox.VideoNews .PlayTime h5 {
        left: 45px;
        top: 0px;
    }
    .programBox .programImage {
        height: 95px;
        width: 190px

    }
    .presenterBox .presenterImage{
        width: 100%;
    }
    .market-stats .marketBox {
        min-width: 160px;
        height: 70px;
        padding: 5px;
    }
    .market-stats{
        margin-left: -32px;
    }
    .mainsection_mainNews__oiuM_ h1 a , .mainsection_mainNews__oiuM_ h1{
        font: normal normal bold 20px/28px Cairo !important;
    }
    .mainsection_newsdetails__ugKGf a {
        font: normal normal bold 13px/20px Cairo;
    }

  }

  @media screen and (max-width:992px){
    .logo-header {
        flex: 2 1;
    }
    .marketChart .chartBox .chartTop li a {
        padding: 5px 15px;
    }
    .VideoTiles {
        display: block;
    }
    .VideoTiles .VideoNews {
        margin-bottom: 15px;
    }
    .NewsLightTiles .VideoTiles {
        display: block;
    }

    .horizontalNumberList .hNumberList ol li{
        padding-left: 15px;
    }
    .page-nav .navbar .navbar-nav .nav-item a {
        padding-left: 0;
        padding-right: 0;
    }
    .header-search-nav ul li a {
        padding: 5px 5px;
    }
    .scheduleCalendar .nav .nav-item .nav-link{
        font-size: 1.1rem;
    }

  }

  @media screen and (max-width:991px){
    .p_sm_0{
        padding: 0;
    }
    .mainsection_newsimage__zRzlt{
        width: 100% !important;
    }
  }
  @media screen and (max-width:850px){
    .page-nav .navbar .navbar-nav .nav-item a {
        font-size: 11px;
    }
    .header-nav .navbar-expand-md ul.navbar-nav li a {
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }
    .header-nav ul li a {
        font-size: 11px;
    }
    .header-search-nav ul li a {
        font-size: 11px;
    }
    .horizontalNumberList .hNumberList ol {
        flex-wrap: wrap;
    }
    .horizontalNumberList .hNumberList ol li{
        width: 33.333%;
    }
  }

  @media screen and (max-width:768px){
      body{
          padding-bottom: 50px;
      }
    
   
    .marketChart .chartBox .chartTop li{
        margin-bottom: 20px;
    }
    header .navbar-toggler{
        display: none;
    }
    .page-nav .navbar-toggler{
        display: none;
    }

    .search-header .search-box{
        margin: 0;
        position: absolute;
        // bottom: 0;
        top: 30px;
        left: 0;
        input{
            display: none;
        }
        .input-group-text{
            left: 0;
        }
    }
    .sticky_header{
        .search-header .search-box{
            top: 0;
        }
    }

    .page-nav{
        overflow-x: hidden;
        white-space: nowrap;
       
    }
    .page-nav .navbar .navbar-nav .nav-item a {
        font-size: 13px;
    }
    .mobileHeader{
        display: block;
    }
    .horizontalNumberList .hNumberList ol li{
        width: 33%;
        padding-left: 0;
        margin-top: 20px;
    }
    .newsSliderText .slick-slider .slick-slide {
        // padding: 0px;
    }
    // .newsSliderText .NewsBox .newscontent{
    //     padding:0 25px;
    // }

    .SocialHeaderMobile{
        display: block;
    }
    .NewsTiles .newBox .PlayTime h5{
        right: 0;
    }
    .scheduleCalendar .nav{
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        padding-bottom: 7px;
    }
    .scheduleCalendar table h4 {
        font-size: 1rem;
    }
    .MobileToggleNav{
        display: block;
    }

    .market-stats{
        margin-left: -47px;
    }
    .marketBox table th {
        font-size: 13px;
    }
    .market-stats .marketBox{
        margin-left: 13px;
    }
    .top-bar .alert {
        padding: 0.7rem 0rem;
        .container{
            max-width: 100%;
        }
    }
    // .mainsection_mainNews__oiuM_{
    //     margin-left: -27px;
    //     margin-right: -27px;
    // }
    .NewsList ul, .stockMarketNews, .newsSlider,
     .TitleBar, .VideoTilesContent, .videoNewsContent, .horizontalNumberList,
      .PageBuilder-pageRow,.footer_footerTop__ojwnt, .footer_footerBottom__yUmY5,
      .w_90
     {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    // .NewsList ul, .marketChart, .stockMarketNews, .NewsTilesBg .TitleBar, .VideoTilesContent{
    //     width: 90%;
    // }
    .NewsLightTiles {
        padding: 20px 0;
    }
    // .NewsList ul {

    //     display: grid;
    //     grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
    //     grid-gap: 2em;
    //     li{
    //         flex-wrap: wrap;
    //         flex-flow: column-reverse;
    //         border: none;
    //         display: none;
    //         .newsImage{
    //             padding-right: 0;
    //             width: 324px;
    //              height: 170px;
    //              max-width: 100%;
    //              margin-right: 0;
    //              margin-left: auto;
    //         }
    //         a{
    //             font-size: 14px;
    //         }
    //         &:nth-child(-n+2){
    //             display: flex;
    //         }
    //         &:first-child{
    //             .newsImage, .newsText{


    //                  margin-right: auto;
    //                  margin-left: 0;
    //             }
    //         }
    //     }
    // }
    .sidelist_sideDotList__hUN6M{
        height: auto !important;
        li{
            display: none !important;
            &:nth-child(-n+6){
                display: flex !important;
            }

        }
    }
    .sidelist_sidebar__Nuc9n{
        background-color: #F7F7F7;
        padding: 15px;
    }
    .sidelist_sidebar__Nuc9n .sidelist_themeTitle__1gobu{
        border-top: 0 !important;
        h4{
            border-top: none !important;
            font-size: 24px !important;
        }
    }
    .dotListwrap{
        border-bottom: 0;
        &::after{
            background: inherit;
        }
    }
    .sidelist_sideDotList__hUN6M li a{
        font-size: 14px;
    }
    .sidebanner_sidebarBanner__yvzDv{
        display: none;
    }
    .marketChart .chartBox .chartTop h4{
        font-size: 22px;
        padding-left: 10px;
    }
    .marketChart .chartBox {
        padding: 20px 14px 10px;
    }
    .marketChart .chartBox .chartTop li{
        padding:5px 5px 5px 0px;
        a{
            padding: 5px 10px;
        }
    }
    .marketChart .chartBox h3 {
        margin: 0px 0 10px;
        font-size: 16px;
    }
    .NewsTilesBg .TitleBar{
        margin-bottom: 25px;
    }
    .VideoNews .NewsContent h4{
        font-size: 22px;
    }
    .marketChart .chartBox table{
        font-size: 13px;
    }
    .sectionTitle h3{
        font-size: 22px;
    }
    .VideoNews .NewsImage {
        height: 380px;
    }
    .VideoTiles .VideoNews .NewsImage {
        height: 118px;
        width: 100%;
    }
    .VideoTiles .NewsContent{
        padding-right: 0;
    }
    .newsSlider .slick-slider .NewsBox .newscontent h3 a{
        font-size: 18px;
    }
    .NewsLightTiles .VideoNews .NewsImage {
        height: 380px;
    }
    .VideoTiles .NewsContent h4{
        margin-right: 0;
        font-size: 14px;
    }
    .NewsLightTiles .VideoTiles .VideoNews .NewsImage {
        height: 118px;
        width: 100%;
    }
    .NewsTiles .newBox .NewsImage {
        height: 103px;
    }
    .NewsTiles .newBox .NewsInfo h4{
        font-size: 14px;
    }
    .NewsLightTiles .VideoTiles .VideoNews{
        width: 100%;
    }
    .single_video_main  {
        .VideoNews .NewsImage{
            height: 380px;
        }

    }
    .videNewspage_sidebar{

        .NewsList.VideoTextBox li .VideoNews {
            width: 100%;
            height: 200px;
        }
    }
    .newsSlider2Text .NewsBox {
        width: 206px;
    }
    .pageSimpleTitle.mb-5 {
        width: 90%;
        margin: auto;
    }
    .newsSliderText.newsSlider2Text {
        width: 90%;
        margin: auto;
    }
    .newsSlider2Text .NewsBox .newsImage {
        width: 100%;
        height: 118px;
    }
    .newsSlider2Text .NewsBox .newscontent h5 a {
        font: normal normal bold 14px/26px Cairo;
    }
    .sticky_header .cnbc-logo {
        margin: 0px 0 0px 15px;
        img{
            width: 120px;
        }
    }
    .NewsTiles .newBox.newBoxfs .NewsInfo h4 {
        font: normal normal bold 16px/23px Cairo !important;
    }
    .NewsTiles .newBox .PlayTime .btn-text {
        width: 35px;
        height: 35px;
    }
    .NewsTiles .newBox .PlayTime .btn {
        padding: 5px 5px;
    }
    .pageSimpleTitle h1 {
        font: normal normal bold 36px/60px Cairo;
        color: #1c1c1c;
    }
    .NewsInfobox {
        justify-content: flex-start;
        .infoItem {

            margin-left: 24px;
        }

    }
    .mb-3.newsDetailimg {
        height: 380px;

    }
    .news_artical_detail .VideoNews .NewsImage {
        height: 380px;
    }
    .newsSliderText .NewsBox .newsImage .PlayTime .btn-text{
        width: 35px;
        height: 35px;
        align-items: center;
    }
    .newsSliderText .NewsBox .newsImage .PlayTime .btn{
        padding: 0 0 0 10px;
    }
    .play_medium {
        border-top: solid 7px transparent;
        border-bottom: solid 7px transparent;
        border-left: solid 12px #fff;
        height: 0;
        width: 0;
    }
    .infographics_container{
        .NewsList ul {
            display: block;
            li{
                flex-flow: inherit;
                padding: 15px 0;
                .newsImage {
        height: 107px;
        overflow: hidden;
        padding-right: 15px;
        max-width: 190px;
                }
            }
        }
        .NewsTiles .newBox.newBoxfs .NewsImage{
            display: block;
        }
    }
    .programDetailNews .VideoNews .NewsImage {
        height: 380px;
    }
    .programDetailNews .VideoNews .NewsContent h4 {
        font: normal normal bold 14px/22px Cairo;
    }

    .searchResultList .NewsList ul {
        display: block;
    }
    .searchResultList .NewsList li .newsImage {
        max-width: 324px;
        min-width: 324px;
        height: 165px;
    }
    .searchResultList .NewsList li .newsText p {

        font: normal normal normal 14px/28px IBM Plex Sans Arabic;

    }
    .fs24_bolder {
        font-size: 21px;

    }
    .PageBuilder-pageRow{
        flex-wrap: wrap;
    }

    .mainsection_newsbox___k_R6{
        width: 324px;
        margin-left: auto;
        margin-right: 0;
    }
    .list_w .mainsection_newsbox___k_R6{
        margin-right: auto;
        margin-left: 0;
    }
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 91%;
    }
    .market-stats .marketBox {
        min-width: 153px;
        height: 63px;
        padding: 0px 5px;
    }
    .NewsList li .newsText{
        width: 324px;
        margin-right: 0;
        margin-left: auto;
    }
    // .page-categories {
    //     margin: 15px 33px 15px -12px;
    // }
    // .PageBuilder-sidebar, .marketChart {
    //     min-width: 90% !important;
    //     margin: auto;
    // }
    .newsDetial_w{
        width: 100%;
    }
    .programBox .programImage {
        height: 118px;
        width: 206px;
    }
    .newsSlider.scrollbarWrap .slick-slider {
        margin-left: -47px;
    }
    .newsSlider .slick-slider .NewsBox{
        height: 250px;
    }
    // .newsSlider{
    //     width: 90%;
    // }
    // .newsSlider.scrollbarWrap .slick-slider .slick-slide.slick-active.slick-current {
    //     width: 250px !important;
    // }
    // .newsSlider.scrollbarWrap .slick-slider .slick-slide.slick-active {
    //     width:442px !important;
    // }
    // .videoNewsContent, .horizontalNumberList, .NewsLightTiles .TitleBar,
    //   .footer_footerTop__ojwnt, .w_90,
    //   .footer_footerBottom__yUmY5, .btn-outline-primary, .breakingNews,
    //   .single_video_main, .PageBuilder-col-9 {
    //     width: 90%;
    //     margin-left: auto;
    //     margin-right: auto;
    // }
    .NewsTiles .newBox.newBoxfs .NewsImage, .NewsTiles .newBox.newBoxf .NewsImage{
        height: 213px;
    }
    .col-lg-8.p_sm_0 {
        margin-right: -35px;
        width: 100% !important;
        min-width: 768px;
    }
    .page-categories.d-flex {
        flex-wrap: wrap;
    }
    .mainsection_mainNews__oiuM_ h1 a {
        font-size: 22px !important;
     
    }
    .mainsection_mainNews__oiuM_ h3 a {
        font-size: 16px;
        padding: 10px 0;
        display: inline-block;
    }
    .hide_div_mobile{
        display: none;
    }
    .mainsection_newsdetails__ugKGf a{
        font-size: 14px !important;
    }
    .mainsection_newsbox___k_R6 {
        margin-bottom: 30px !important;
    }
    .sidelist_sideDotList__hUN6M li{
        margin-bottom: 10px;
    }
    .sidelist_sideDotList__hUN6M li a{
        padding-bottom: 10px !important;
        font-size: 14px !important;
    }
    .sidelist_sideDotList__hUN6M li span{
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }
    button.btn.btn-outline-primary{
        min-width: 165px;
    }
    .PageBuilder-sidebar{
        margin-bottom: 20px;
    }
    .NewsList li .newsImage{
        width: 118px;
        height: 90px;
    }
    .NewsList li a{
        font-size: 14px;
    }
    .marketChart{
        margin-top: 0;
    }
    .bannerAddMedia{
        width: 728px;
        margin-right: -27px;
    }
    .newsSlider.scrollbarWrap .scrollbarHeader {
        border-top: solid 6px #002F6C;
        padding-top: 15px;
    }
    .horizontalNumberList .primaryTitle h3{
        border-color: #002F6C;
        display: block;
    }
    .NewsImage.show_mobile {
        display: block;
        width: 246px;
        height: 120px;
        overflow: hidden;
        margin-bottom: 12px;
        img{
            width: 100%;
        }
    }
    .NewsTilesBg h2, .scrollbarHeader .TitleBar h2, .NewsLightTiles .TitleBar h2{
        font-size: 32px;
    }
    .newsSlider.mostredSlider {
        margin-bottom: 24px;
        .slick-slider{
            margin-left: 0;
        }
            
        
        .slider-item li {
            list-style: none;
            .NewsImage.show_mobile{
                width: 100%;
                height: 118px;
                
            }
            a{
                font-size: 14px;
                color: #1c1c1c;
                font-weight: bold;
                
            }
            p.tag{
                font-size: 12px;
                margin-top: 10px;
                font-weight: bold;
                a{
                    color: #005594;
                    margin-left: 10px;
                }
                b{
                    color: #777777;
                }
            }
        }
    }
    
    
  }
  @media screen and (max-width:768px) and (min-width:576px){
    .searchResultList .NewsList li {
        flex-flow: inherit;
    }
    .searchResultList .NewsList li .newsText {
        flex: 2 1;
    }
    .searchResultList .NewsList li .newsImage{
        padding-left: 15px;
        padding-right: 0;
    }
    .searchResultList .NewsList li .newsText{
        padding-top: 0;
    }
    .searchResultList .NewsList li .newsText p{
        margin-top: 0;
    }
    .btn-sm-wide{
        width: 100%;
    }
  }



  @media screen and (max-width:640px){
    .header-box {
        display: block;
    }
    .sidebar{
        margin-top: 15px;
    }
    .NewsInfobox{
        display: block;
    }
    .NewsInfobox .infoItem {
        font-size: 14px;
        margin-bottom: 5px;
    }

  }
  @media screen and (max-width:767px){
    .search-box.mobile_only {
        position: absolute;
        top: -40px;
        left: 0;
        right: 0;
    }
    .search-box.mobile_only input{
        display: none;
    }
    .search-box.mobile_only input{
        display: none;
    }
    .NewsTiles .newBox.newBoxf .NewsImage, .NewsTiles .newBox.newBoxfs .NewsImage{
        height: auto;
    }
    .footer_footerSocial__jAxyW{
        display: none;
    }
    .d-sm-none .footer_footerSocial__jAxyW{
        display: block;
        float: inherit;
        margin-bottom: 50px;
    }
    .d-sm-none .footer_footerSocial__jAxyW ul{
        justify-content: center;
    }
    .d-sm-none .footer_footerSocial__jAxyW ul li a{
       font-size: 24px;
    }
    .footer_footerBottom__yUmY5{
        margin-top: 0 !important;
    }
    .footer_footerBottom__yUmY5 .row {
        flex-direction: column-reverse;
    }
    .search-header .header-search-nav{
        display: none;
    }
    .top-grey-bar, .top-red-bar {
        font-size: 13px;
    }
    header{
        height: 45px;

    }
    .search-header .search-box {
        top: 0px;

    }
    .search-header .search-box .input-group-text {
        padding-left: 0;

    }
    .sticky_header .search-header .search-box .input-group-text{
        top: -6px !important;
        font-size: 18px;
    }
    .bnner_add img {
        width: 320px;
        height: 50px;
    }
    // .mainsection_mainNews__oiuM_ {
    //     margin-left: -19px;
    //     margin-right: -19px;
    // }
    // .market-stats {
    //     margin-left: -19px;
    // }
    .order_flex_sm{
        display: flex;
        flex-direction: column;
        .bnner_add{
            order: 1;
        }
        .page-nav{
            order: 2;
        }
        .market-stats{
            order: 3;
        }
    }
    .mainsection_mainNews__oiuM_ {
        height: 440px !important;
        // background-size: contain !important;
    }
    .mainsection_newscontent__y_KUp{
        padding: 15px !important;
    }
    .mainsection_mainNews__oiuM_ h1 a {
        font: normal normal bold 21px/32px Cairo !important;

    }
    .mainsection_mainNews__oiuM_ h3 a{
        font-size: 13px;
    }
    .NewsList ul li  {
        border-bottom: 1px solid #dddddd;
    }
    .NewsList li {
        padding-top: 0;
    }
    .sidelist_sidebar__Nuc9n .sidelist_themeTitle__1gobu h4 {

        font: normal normal 900 21px/30px Cairo;
    }
    .sidelist_sideDotList__hUN6M li span {
        margin-top: 0px;
        font: normal normal bold 11px/20px Cairo;
    }
    .sidelist_sideDotList__hUN6M li a {
        font: normal normal bold 13px/21px Cairo;
    }
    .sidelist_sideDotList__hUN6M li{
        margin-bottom: 15px;
    }
    .sidelist_sideDotList__hUN6M li span{margin-top: 0 !important;}
    .marketChart .chartBox{
        padding: 15px 15px 10px;
    }
    .marketChart .chartBox .chartTop {
        margin-bottom: 15px;
        display: block;
        li{
            margin-bottom: 5px;
           
            a {
                padding: 0px 0px;
                font-size: 13px;
            }
        }
    }
    .TileBar.scrollbarHeader {
        border-top: solid 6px #002F6C;
        padding-top: 15px;
    }
    .scrollbarHeader .TitleBar h2 {
        font: normal normal 900 28px/30px Cairo;
    }
    .newsSlider .slick-slider .NewsBox .newscontent h3 a {
        font: normal normal bold 14px/22px Cairo;
    }
    .newsSlider .slick-slider .NewsBox {
        height: 230px;
    }
    .scrollbarWrap{
        .slick-slider{
            margin-left: -11px;
            margin-right: -11px;
            .slick-slide {
                padding: 0 0 0 10px;
            }
        }

    }
    .NewsLightTiles .VideoTiles .VideoNews{
        width: 100%;
    }
    .NewsLightTiles{
        padding: 20px 0;
    }
    .NewsLightTiles .TitleBar h2 {
        margin-bottom: 24px;
    }
    .primaryTitle h3 {
        padding-top: 22px;
        font: normal normal 900 28px/30px Cairo;
    }
    .horizontalNumberList .hNumberList ol li {
        width: 50%;
    }
    .NewsTiles .newBox.newBoxf .NewsInfo h3 {
        // font: normal normal bold 18px/28px Cairo;
        font: normal normal bold 21px/32px Cairo;
    }
    .NewsTiles .newBox.newBoxfs .NewsImage{
        display: none;
    }
    .NewsTiles .newBox .NewsImage{
        &.img_sm_none{
            display: none;
        }

    }
    .top-bar{
        .alert{
            span{
                white-space: nowrap;
    max-width: 222px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
            }
        }
    }
    .single_video_main .VideoNews .NewsImage {
        height: 190px;
    }
    .VideoNews .PlayTime .btn-text{
        width: 50px;
        height: 50px;
    }
    .play_big {
        border-top: solid 8px transparent;
        border-bottom: solid 8px transparent;
        border-left: solid 16px #fff;
        height: 0;
        width: 0;
    }
    .single_video_main .pageSimpleTitle h1 {
        font: normal normal bold 24px/38px Cairo;
    }
    .single_video_main .page-categories h6 {
        font: normal normal bold 13px/30px Cairo;
    }
    .page-categories ul li a {
        font: normal normal bold 13px/14px Cairo;
    }
    .sidelist_sidenumberList__d8ptP li a{
        font-size: 14px !important;
    }
    .pageTitle h2 {

        font: normal normal 900 22px/30px Cairo;
    }
    .NewsTiles .newBox.newBoxf .NewsImage,.NewsTiles .newBox.newBoxfs .NewsImage {
        height: 213px;
    }
    .pageTitle h2 {
        margin-bottom: 10px;
    }
    .pageTitle {
        margin-bottom: 30px !important;
    }
    .category_news_tab li {
        padding: 0 15px;

    }
    .category_news_tab {
        margin-bottom: 24px;
    }
    .pageSimpleTitle h1{
        font: normal normal bold 24px/38px Cairo;
    }
    .NewsInfobox .infoItem{
        font-size: 13px;
    }
    .pageSimpleTitle.mb-5 {
        margin-bottom: 1rem !IMPORTANT;
    }
    .newsSocial.mt_sm_20 {
        display: none;
    }
    .NewsInfobox {
        padding-bottom: 24px;
    }
    .mb-3.newsDetailimg, .news_artical_detail .VideoNews .NewsImage {
        height: 185px;
    }
    .news_artical_detail .VideoNews .NewsContent h4 {
        font: normal normal bold 14px/22px Cairo;
    }
    .VideoNews .PlayTime h5 {

        left: 60px;
        top: 4px;

    }
    .NewsTiles .newBox.newBoxf .NewsInfo h3{
        // font: normal normal bold 14px/22px Cairo;
        font: normal normal bold 18px/28px Cairo;


    }
    .NewsTiles .newBox.newBoxfs .NewsInfo h4 {
        font: normal normal bold 14px/23px Cairo !important;
    }
    .infographics_container {
        .NewsList ul li {
            flex-flow: column-reverse;
        }
        .NewsTiles .newBox.newBoxfs {

            display: block;
        }
    }
    .infographics_container .NewsList ul li .newsImage{
        height: 165px;
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    .infographics_detail img {
        height: 185px;
    }
    .livetvbox .liveTV {
        margin: 0 auto 30px;
        width: 100%;
        margin-left: 0;
    }
    .livetvSlider{
        padding: 30px 0;
    }
    .livetvSlider .newsSlider2Text .NewsBox .newsImage {

        height: 120px;
    }
    .livetvSlider.sliderTextBg .NewsBox .newscontent{
        background-image: linear-gradient(to top, #071D39 0%, #071d3900);
    }
    .livetvSlider .newsSlider2Text .NewsBox .newscontent h5 {
        font: normal normal bold 14px/22px Cairo;
    }
    .programBox .programImage {
        height: 165px;
        width: 100%;
    }
    .presenter_detail img {
        height: 246px;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
    .simpleSelect::after {
        padding: 0.6em 0.7rem;
        font-size: 13px;
    }
    .searchResulstBox{
        padding: 15px 15px 6px;
        width: 320px;
    }
    .job_detail_container .NewsBox {
        h6 {
            font: normal normal 600 16px/26px Montserrat;
            color: #002f6c;
        }
        h2{
            font: normal normal bold 24px/20px Montserrat;

        }
    }
    .page-categories.d-flex{
        display: block !important;
    }
    .page-categories ul {
        display: flex;
    }
    .horizontalNumberList .primaryTitle h3 {
        width: 100%;
        border-color: #002f6c;
    }
    .market-stats .marketBox {
        min-width: 140px;
        height: 90px;
        padding: 10px 5px;
    }
    
    // .VideoTiles .VideoNews{
    //     width: 246px;
    // }
    .VideoTiles .VideoNews .NewsImage{
        height: 120px;
    }
    .sidelist_sidebar__Nuc9n .sideSimpleListWrap .sidelist_themeTitle__1gobu h4 {

        font: normal normal 900 28px/30px Cairo;
        border-color: #002F6C;
        border-top: 6px solid #002F6C !important
    }

    

    .sidelist_sidesimpleList__CD3XZ li a{
        font: normal normal bold 14px/22px Cairo !important;
    }
    .sidelist_sidesimpleList__CD3XZ{
        display: flex;
        overflow: auto;
        li{
            width: 246px;
            margin-right: 20px;
            &:first-child{
                margin-right: 0;
            }
        }
    }
    .sticky_header .search-header .search-box {
        top: -20px;
    }
    .sticky_header .cnbc-logo img{
        width: 278px;
    }
    .mainsection_mainNews__oiuM_{
        width: 100% !important;
    }
    .market-stats {
        margin-left: -47px;
        margin-right: 11px;
    min-width: 100%;
    }
    .mainsection_newsbox___k_R6{
        width: 100%;
    }
    .NewsList ul, .marketChart, .stockMarketNews, .newsSlider, .TitleBar, .VideoTilesContent, .videoNewsContent, .horizontalNumberList, .PageBuilder-pageRow, .footer_footerTop__ojwnt, .footer_footerBottom__yUmY5, .w_90{
        width: 100%;
    }
    .PageBuilder-sidebar {
        min-width: 90% !important;
        margin-left: 10px;
        margin-right: 10px;

    }
    .NewsList li .newsText{
        width: 100%;
        margin: auto;
    }
    .mainsection_newsimage__zRzlt {
        width: 333px!important;
        margin: auto;
    }
    .page-categories {
        margin: 15px 15px 15px -11px;
    }
    .horizontalNumberList .hNumberList ol {
        flex-wrap: wrap;
    }
    .mainsection_newsimage__zRzlt{
        width: 100% !important;
    }
    
    .bannerAddMedia {
        width: 100%;
        margin-right: 0;
    }
    .col-lg-8.p_sm_0{
        min-width: 100%;
        margin-right: 0;
    }
    header{
        padding: 5px 0;
    }
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 100%;
    }
    .newsSlider.scrollbarWrap .slick-slider {
        margin-left: -11px;
    }
    .page-nav .navbar .navbar-nav .nav-item a {
        font-size: 15px;
    }
}
  @media screen and (max-width:575px){
    .page-nav .navbar .navbar-nav{
        margin-right: 10px;
    }
    .page-categories .CategoryTitle, .mainsection_mainNews__oiuM_ h3 a{
        font-size: 13px;
    }
    .mainsection_mainNews__oiuM_ h3 a{
        padding: 5px 0;
    }
    .mainsection_mainNews__oiuM_{
        margin-bottom: 20px !important;
    }
    // .mainsection_newsbox___k_R6{
    //     max-width: 333px;
    //     margin: auto;
    //     margin-left: auto !important;
    // }
    .mainsection_newsdetails__ugKGf a{
        font-size: 16px !important;
    }
    .sidelist_sideDotList__hUN6M li a{
        font-size: 13px !important;
    }
    .sidelist_sidebar__Nuc9n .sidelist_themeTitle__1gobu h4 {
        font: normal normal 900 21px/30px Cairo !important;
    }
    .mainsection_newsimage__zRzlt {
        
        height: 165px !important;
    }
    .search-header .search-box {
        top: -37px;
    }
    .NewsList ul li{
        border-bottom: none;
        flex-wrap: wrap;
    flex-direction: column-reverse;
    }
    .market-stats {
        margin-left: -11px;
        margin-right: 11px;
        min-width: 100%;
    }
   
    .sliderArrows{
        display: none;
    }
    .VideoTilesContent{
        overflow-x: scroll;
        white-space: nowrap;
        margin-left: -11px;
    }

    .NewsTilesBg .VideoTiles{
        white-space: normal;
    }
    .NewsTilesBg .TitleBar{
        // min-width: 410px;
    }
    .NewsTilesBg .row{
        min-width: 830px;
    }
    .NewsLightTiles .row{
        min-width: 760px;
    }
    .NewsLightTiles .VideoTiles{
        white-space: normal;
    }
    .videoNewsContent{
        overflow-x: scroll;
        white-space: nowrap;
        margin-left: -11px;
    }
    .breakingNews .newsbox .newslink{
        margin-bottom: 15px;
    }
    .breakingNews .newsbox{
        display: block;
    }
    .breakingNews .newsbox .newsaction{
        justify-content: flex-start;
    }
    .NewsTiles .newBox{
        display: flex;
    }

    .NewsTiles .newBox .NewsImage{
        flex: 2;
        height: auto;
    }
    .NewsTiles .newBox .NewsInfo{
        flex: 3;
        padding-right: 20px;
    }

    .programDetailNews{
        overflow-x: inherit;
        white-space: inherit;
      }
      .programDetailNews .row {
        min-width: 0;
    }



    .searchResultList .NewsList li {
        flex-flow: column;
    }
    .searchResultList .NewsList li .newsText {
        flex: 2 1;
    }
    .searchResultList .NewsList li .newsImage{
        padding-left: 15px;
        padding-right: 0;
        margin-bottom: 15px;
    }
    .searchResultList .NewsList li .newsText{
        padding-top: 0;
    }
    .searchResultList .NewsList li .newsText p{
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 14px;
        color:#777777;
    }

    .NewsTiles .newBox .NewsInfo h4 {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.2rem;
    }
    .NewsTiles .newBox .NewsInfo p {
        font-size: 12px;
        font-weight: bold;
    }
    .VideoNews .NewsImage {
        height: 185px;
    }
    .VideoNews .NewsContent{
        padding: 15px;
    }
    .VideoNews .NewsContent h4 {
        font-size: 14px;
    }
    .VideoNews .NewsContent p {
        font-size: 11px;
        margin: 0;
    }
    header{
        padding: 5px 0;
    }
    .top-bar .alert{
        padding: 0.7rem 0;
    }
    .breakingNews .newsbox .newslink p{
        font-size: 12px;
    }
    .breakingNews .newsbox .newslink a, .breakingNews .newsbox .newsaction .btn{
        font-size: 14px;
    }
    .sidebanner_smallBanner__lXwev {
        width: 300px;
        height: 250px;
        margin: auto;
    }
    .signinmodal .modal-dialog h2{
        font-size: 20px;
        font-weight: 900;
    }
    .signinmodal .modal-dialog h6{
        font-size: 12px;
        font-weight: bold;
    }
    .btn-sm-wide {
        width: 100%;
        font-weight: bold;
    }
    .modal .modal-dialog .modal-content .modal-body {
        padding: 15px;
    }
    .signinmodal .form-floating > label{
        font-weight: bold;
        color: #777777;
    }
    .signinmodal a{
        font-weight: 500;
        font-size: 12px;
    }
    .newBox.newBoxf {
        display: block;
    }
    .NewsTiles .newBox.newBoxf .NewsImage{
        height: 165px;
    }
    .NewsTiles .newBox.newBoxf .NewsInfo {
        padding-right: 0;
    }

    .NewsTiles .newBox {
        border-bottom: solid 1px #dddddd;
    }
    .more_btn .btn-outline-primary {
        font-size: 15px;
        font-weight: bold;
        width: 100%;
    }
    .NewsTiles .newBox{
        flex-direction: row-reverse;
    }
    .NewsTiles .newBox .NewsInfo{
        padding-right: 0;
        padding-left: 15px;
    }
    .livetvbox {
        padding: 20px 0;
        // margin: 0px -12px;
    }
    .pageTitle h2 {
        font-size: 21px;
        font-weight: 900;
    }
    .yellowTitle h3{
        font-size: 28px;
    }
    // .newsSliderText .slick-slider .slick-list{
    //     overflow-x: auto;
    // }
    .newsSliderText .slick-slider .slick-prev, .newsSliderText .slick-slider .slick-next{
        display: none !important;
    }
    .scheduleCalendar .nav .nav-item .nav-link span{
        font-size: 11px;
    }
    .scheduleCalendar table h4{
        font-size: 14px;
    }
    .scheduleCalendar table tr td{
        width: inherit;
    }
    .w_sm_100 {
        width: 100%;
    }
    .fs15_b_mobile{
        font-size: 15px;
        font-weight: bold;
    }
    .fs20_b_mobile{
        font-size: 20px;
        font-weight: 900;
    }

    .fs12_b{
        font-size: 12px;
        font-weight: bold;
    }
    .footer_footer__eH5m2 button.btn.btn-primary
     {
        margin-bottom: 40px;
    }
    .footer_footer__eH5m2 button.btn.btn-primary,
    .footer_footer__eH5m2 button.btn.btn-outline-light
     {
        width: 100%;
    }
    .addressBox h4{
        font-size: 18px;
        font-weight: 900;
    }
    .contactForm{
        font-size: 21px;

    }
    .mt_sm_20{
        margin-top: 20px;
    }
    .related_stock span{
        font-size: 13px;
        font-weight: bold;
        width: 100%;
        margin-bottom: 12px;
        display: inline-block;
    }
    .related_stock ul{
       display: flex;
       flex-wrap: nowrap;
       overflow: auto;
    }
    .related_stock ul li{
       min-width: 222px;
       margin-left: 0;
       text-align: center;
    }
    .related_stock ul li span{
      display: initial;
    }
    .SocialHeaderMobile .newsSocial ul li a {
        font-size: 15px;
    }
    .newsDetailimg {
        height: 180px;
        overflow: hidden;
    }
    .newsDetailimg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
    h6.newsDetailtext {
        font-size: 10px;
        font-weight: bold;
    }
    .fadedNews p {
        font-size: 18px;
    }
    .pageTitle.PageTitleYellow.program_schedule h2 {
        font-size: 21px;
        font-weight: 900;
        text-align: right;
    }
    .program_schedule button.btn-danger{
        font-size: 11px;
    font-weight: bold;
    }
    .text-extra-bold {
        font-size: 21px;
    }
    .jobsSlider .sliderArrows {
        display: none;
    }
    .jobsSlider h2.mb-4 {
       margin-bottom: 0 !important;
    }
    .jobsSlider .newsSlider .slick-slider .slick-slide{
        padding: 0;
    }
    .jobsSlider .newsSlider .slick-slider .NewsBox{
        height: 110px;
    }
    .job_opportunities {
        padding-top: 20px !important;
    }
    .job_opportunities h5 {
       font-size: 15px;
    }
.w_sm_100{
    width: 100% !important;
}
.NewsList li a{
    font-size: 14px;
}
.NewsTilesBg {
    padding-top: 25px;
    .TitleBar {
        margin-bottom: 27px;
        .btn.btn-danger{
            display: none;
        }
    }
}
.VideoTiles .NewsContent h4 {
    font: normal normal bold 14px/22px Cairo;
}
.NewsList ul li .newsImage {
max-width: 100%;
    width: 100%;
    height: 165px;
    margin: auto;
    padding-right: 0;

}
.bnner_add img {
    width: 300px;
    height: 250px;
}
.mostredSlider .slick-list {
    margin-left: -13px;
    margin-right: 10px;
}
.PageBuilder-pageRow.p_sm_10{
    padding: 10px;
}

  }
  @media (max-width: 375px){
      
    .stockMarketNews .NewsList ul li {
        margin-right: 0;
    }
    .mainsection_newsbox___k_R6 {
        max-width: 333px;
        margin: auto;
        margin-left: auto !important;
    }
    .NewsList ul li .newsImage, .NewsList li .newsText{
        width: 333px;
    }
    .mainsection_newsimage__zRzlt {
        max-width: 333px !important;
    }
    .NewsList ul li{
        margin-right: 10px;
    }
    .stockMarketNews {
        margin: 15px 0 20px;
    }
     .marketChart, .stockMarketNews, .NewsLightTiles .TitleBar,
     .horizontalNumberList{
    width: 94%;
    margin-left: auto;
    margin-right: auto;
}
.scrollbarWrap {
    margin-bottom: 35px;
}
}

  @media (max-width: 1200px){
    .NewsList li .newsImage{
        flex: inherit;
    }
    .NewsTiles .newBox.newBoxfs, .NewsTiles .newBox.newBoxfs .NewsImage, .NewsTiles .newBox .NewsImage {
        width: 100%;
    }
  }
  @media (max-width: 1200px)
{
    .col_67 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        -ms-flex-negative: 0;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 0;
        max-width: calc(66.66667% - 10px);
        min-width: calc(66.66667% - 10px);
    }
    .col_33 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        -ms-flex-negative: 0;
        flex-grow: 0;
        flex-shrink: 0;
        margin-bottom: 40px;
        margin-left: 30px;
        max-width: calc(33.33333% - 20px);
        min-width: calc(33.33333% - 20px);
    }
    
}

// home responsive

@media (min-width: 769px){
    .hide_div_web{
        display: none;
    }
}
@media (min-width: 760px) and (min-width: 760px)
{
    .PageBuilder-col-9 {
        max-width: calc(100% - 30px);
        min-width: calc(100% - 30px);
    }
    .PageBuilder-sidebar {
        max-width: calc(33.33333% - 30px);
        min-width: calc(33.33333% - 30px);
    }
}
@media (min-width: 360px)
{
    .PageBuilder-sidebar {
        min-width: 100%;
    }
}

// @media (min-width: 760px)
// {
//     .PageBuilder-col-9 {
//         -webkit-box-flex: 0;
//         -ms-flex-positive: 0;
//         -ms-flex-negative: 0;
//         flex-grow: 0;
//         flex-shrink: 0;
//         max-width: calc(300% - 30px);
//         min-width: calc(300% - 30px);
//     }
//     .PageBuilder-sidebar {
//         -webkit-box-flex: 0;
//         -ms-flex-positive: 0;
//         -ms-flex-negative: 0;
//         flex-grow: 0;
//         flex-shrink: 0;
//         max-width: 100%;
//         min-width: 100%;
//     }
// }


@media (min-width: 760px) and (min-width: 1020px)
{
    .PageBuilder-col-9 {
        max-width: calc(133.33333% - 30px);
        min-width: calc(133.33333% - 30px);
    }
    .PageBuilder-sidebar {
        max-width: calc(44.44444% - 30px);
        min-width: calc(44.44444% - 30px);
    }
}
@media (min-width: 1020px)
{
    .PageBuilder-col-9 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        -ms-flex-negative: 0;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 0;
        margin-left: 30px;
        max-width: calc(66.66667% - 10px);
        min-width: calc(66.66667% - 10px);
    }
    .PageBuilder-sidebar {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        -ms-flex-negative: 0;
        flex-grow: 0;
        flex-shrink: 0;
        margin-bottom: 0px;

        max-width: calc(33.33333% - 20px);
        min-width: calc(33.33333% - 20px);
    }
    .bannerAddMedia {
        display: none;
    }
    
}

@media (min-width: 1020px) and (min-width: 760px)
{
    .PageBuilder-pageRow {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (min-width: 1020px) and (max-width: 1339px)
{
    .mainsection_newsimage__zRzlt {
        width: 190px !important;
        height: 107px !important;
    }
    .mainsection_mainNews__oiuM_{
        width: 410px !important;
        height: 400px !important;
    }
    .NewsList li .newsImage {
        height: 84px;
        width: 112px;
        padding-right: 0;
    }

    .NewsTilesBg, .NewsLightTiles{
        .VideoTilesContent, .videoNewsContent{
            .col-lg-7{
                width: 53%;
            }
            .col-lg-5{
                padding-right: 35px;
                width: 45.666667%;
            }
        }
        .VideoNews {
            width: 520px;
            .NewsImage{

                height: 290px;
            }
        }
        .VideoTiles {
            .VideoNews {
                width: 150px;
                .NewsImage{
                    height: 80px;

                }
            }
            .NewsContent{
                h4{
                    margin-right: 0;
                }
            }
        }
    }
    .newsSlider.scrollbarWrap .slick-slider {
        margin-left: -32px;
        .slick-slide.slick-active.slick-current{
            padding-left: 0;
            width: 452px !important;
        }
        .slick-slide.slick-active{

            width: 540px !important;
        }
         .NewsBox{
             height: 290px;
         }
    }
    .NewsTiles .newBox.newBoxfs .NewsImage{
        width: 190px !important;
    }
    .NewsTiles .newBox.newBoxf .NewsImage{
        width: 400px !important;
    }
    .NewsTiles .newBox .NewsImage{
        width: 190px !important;
    }
    .newsDetial_w {
        width: 960px;
    }
    .programDetailNews .VideoNews {
        width: 100%;
        .NewsImage {
            height: 354px !important;
            width: 100%;
        }
    }
    .sidelist_sideDotList__hUN6M{
        height: 396px !important;
    }
    .mainsection_newsdetails__ugKGf a{
        font-size: 13px !important;
    }
}

@media (min-width: 1340px){
    .PageBuilder-col-9{
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        -ms-flex-negative: 0;
        flex-grow: 0;
        flex-shrink: 0;
        margin-left: 30px;
        max-width: calc(75% - 7.5px);
        min-width: calc(75% - 7.5px);
    }
    .PageBuilder-sidebar {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        -ms-flex-negative: 0;
        flex-grow: 0;
        flex-shrink: 0;

        max-width: calc(25% - 22.5px);
        min-width: calc(25% - 22.5px);
    }
    .newsDetial_w{
        .PageBuilder-sidebar {
            -webkit-box-flex: 0;
            -ms-flex-positive: 0;
            -ms-flex-negative: 0;
            flex-grow: 0;
            flex-shrink: 0;

            max-width: calc(32% - 20.5px);
            min-width: calc(32% - 20.5px);
        }
    }


}



.PageBuilder-pageRow {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    // -ms-flex-wrap: wrap;
    // flex-wrap: wrap;


}

@media (min-width: 768px) and (max-width: 1019px)
{
    .mainsection_mainNews__oiuM_{
        width: 100% !important;
        margin-left: 0;
    }
    .PageBuilder-pageRow{
        flex-wrap: wrap;
    }
   .PageBuilder-col-9 {
        max-width: 100%!important;
        min-width: 100%;
    }
    .mainsection_mainNews__oiuM_{
        width: 100% !important;
        height: 585px !important;
    }
    .mainsection_newsimage__zRzlt {
        // width: 324px !important;
        height: 170px !important;
        margin: auto;

}
}

