@media screen and (max-width: 1400px){
    .container-xl, 
    .container-lg, 
    .container-md, 
    .container-sm, 
    .container {
        max-width: 96%;
    }
    .header-search-nav ul li a {
        padding: 5px 14px;
    }
}
@media screen and (max-width:1280px){
    .logo-header {
        flex: 2;
    }
    .header-nav ul li a {
        font-size: 14px;
    }
    .header-search-nav ul li a {
        font-size: 14px;
    }
    .market-stats{
        overflow-x: auto;
        min-width: 100%;
    }
    .market-stats .marketBox {
        min-width: 200px;
        margin-left: 20px;
    }
  }
  @media screen and (max-width:1140px){
    .header-nav ul li a {
        font-size: 13px;
    }
    .header-search-nav ul li a {
        font-size: 13px;
        padding: 5px 10px;
    }
    .page-nav .navbar .navbar-nav .nav-item a {
        font-size: 14px;
    }
  }
  @media screen and (max-width:1024px){
    .header-nav ul li a {
        font-size: 12px;
    }
    .header-search-nav ul li a {
        font-size: 12px;
        padding: 5px 10px;
    }
    .page-nav .navbar .navbar-nav .nav-item a {
        font-size: 13px;
    }
    .header-nav ul li {
        margin: 0px;
    }
  }
  
  @media screen and (max-width:992px){
    .logo-header {
        flex: 1;
    }
    .marketChart .chartBox .chartTop li a {
        padding: 5px 15px;
    }
    .VideoTiles {
        display: block;
    }
    .VideoTiles .VideoNews {
        margin-bottom: 15px;
    }
    .NewsLightTiles .VideoTiles {
        display: block;
    }

    .horizontalNumberList .hNumberList ol li{
        padding-left: 15px;
    }
    .page-nav .navbar .navbar-nav .nav-item a {
        padding-left: 0;
        padding-right: 0;
    }
    .header-search-nav ul li a {
        padding: 5px 5px;
    }

  }

  @media screen and (max-width:850px){
    .page-nav .navbar .navbar-nav .nav-item a {
        font-size: 11px;
    }
    .header-nav .navbar-expand-md ul.navbar-nav li a {
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }
    .header-nav ul li a {
        font-size: 11px;
    }
    .header-search-nav ul li a {
        font-size: 11px;
    }
    .horizontalNumberList .hNumberList ol {
        flex-wrap: wrap;
    }
    .horizontalNumberList .hNumberList ol li{
        width: 33.333%;
    }
  }
  
  @media screen and (max-width:768px){
      body{
          padding-bottom: 50px;
      }
    .horizontalNumberList .hNumberList ol {
        flex-wrap: wrap;
    }
    .marketChart .chartBox .chartTop{
        flex-wrap: wrap;
    }
    .marketChart .chartBox .chartTop li{
        margin-bottom: 20px;
    }
    header .navbar-toggler{
        display: none;
    }
    .page-nav .navbar-toggler{
        display: none;
    }
    .search-header .header-search-nav{
        display: none;
    }
    .search-header .search-box{
        margin: 0;
    }

    .page-nav{
        overflow-x: auto;
        white-space: nowrap;
    }
    .page-nav .navbar .navbar-nav .nav-item a {
        font-size: 13px;
    }
    .mobileHeader{
        display: block;
    }
    .horizontalNumberList .hNumberList ol li{
        width: 50%;
        padding-left: 0;
    }
    .newsSliderText .slick-slider .slick-slide {
        padding: 0px;
    }
    .newsSliderText .NewsBox .newscontent{
        padding:0 25px;
    }
    
  }

  @media screen and (max-width:640px){
    .header-box {
        display: block;
    }
    .sidebar{
        margin-top: 15px;
    }
    .NewsInfobox{
        display: block;
    }
    .NewsInfobox .infoItem {
        font-size: 14px;
        margin-bottom: 5px;
    }
  }
  @media screen and (max-width:575px){

    .NewsTilesBg{
        overflow-x: scroll;
        white-space: nowrap;
    }
    
    .NewsTilesBg .VideoTiles{
        white-space: normal;
    }
    .NewsTilesBg .TitleBar{
        min-width: 410px;
    }
    .NewsTilesBg .row{
        min-width: 1000px;
    }
    .NewsLightTiles .row{
        min-width: 1000px;
    }
    .NewsLightTiles .VideoTiles{
        white-space: normal;
    }
    .videoNewsContent{
        overflow-x: scroll;
        white-space: nowrap;
    }
    .breakingNews .newsbox .newslink{
        margin-bottom: 15px;
    }
    .breakingNews .newsbox{
        display: block;
    }
    .breakingNews .newsbox .newsaction{
        justify-content: flex-start;
    }

  }