@media screen and (max-width: 1400px){
    .container-xl, 
    .container-lg, 
    .container-md, 
    .container-sm, 
    .container {
        max-width: 96%;
    }
    .header-search-nav ul li a {
        padding: 5px 14px;
    }
}
@media screen and (max-width:1280px){
    .logo-header {
        flex: 2;
    }
    .header-nav ul li a {
        font-size: 14px;
    }
    .header-search-nav ul li a {
        font-size: 14px;
    }
    .market-stats{
        overflow-x: auto;
        min-width: 100%;
    }
    .market-stats .marketBox {
        min-width: 200px;
        margin-right: 20px;
    }
  }
  @media screen and (max-width:1140px){
    .header-nav ul li a {
        font-size: 13px;
    }
    .header-search-nav ul li a {
        font-size: 13px;
    }
  }
  @media screen and (max-width:1024px){
    .header-nav ul li a {
        font-size: 12px;
    }
    .header-search-nav ul li a {
        font-size: 12px;
    }
  }
  
  @media screen and (max-width:992px){
    .logo-header {
        flex: 1;
    }
    .marketChart .chartBox .chartTop li a {
        padding: 5px 15px;
    }
    .VideoTiles {
        display: block;
    }
    .VideoTiles .VideoNews {
        margin-bottom: 15px;
    }
    .NewsLightTiles .VideoTiles {
        display: block;
    }

    .horizontalNumberList .hNumberList ol li{
        padding-left: 15px;
    }

  }
  
  @media screen and (max-width:768px){
    .horizontalNumberList .hNumberList ol {
        flex-wrap: wrap;
    }
    .marketChart .chartBox .chartTop{
        flex-wrap: wrap;
    }
    .marketChart .chartBox .chartTop li{
        margin-bottom: 20px;
    }
  }

  @media screen and (max-width:640px){
    .header-box {
        display: block;
    }
  }