@import "./variables.scss";

body{
    font-size: $body-font;
    line-height: 1.42857143;
    color: $grey-dark;
    background-color: $white;
    font-family:$primary-font;
  }



//   Button Styles
.btn{
    border-radius: 0;
    line-height: normal;
    animation: ease-in;
  }
  .btn:hover{
    animation: ease-in;
  }
  .btn-primary{
    background-color: $primary-color;
    border-color: $primary-color;
  }
  .btn-primary:hover{
    background-color: $secondary-color;
  }

  .btn-warning{
    background-color: $warning;
    border-color: $warning;
  }
  
  .btn-outline-primary {
    color: $primary-color;
    border-color: $primary-color;
  }
  .btn-outline-primary:hover {
    background-color: $secondary-color;
    border-color: $primary-color;
    color: $white;
  }

  
// Top Bars/Alerts Style

.top-bar .alert{
    padding: .7rem .7rem;
  }
  .top-bar .btn-close{
    color: $white;
    background: none;
    opacity: .8;
    left: 0;
    right: auto;
    padding: 0.8rem;
  }
  .top-grey-bar{
    background: $grey-dark;
    color: $white;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    border-radius: 0;
    border: none;
  }
  .top-red-bar{
    background: $danger;
    color: $white;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    border-radius: 0;
    border: none;
  }
  


//   Header Style

header{
    background: $secondary-color;
    padding: 12px 0;
    color: $white;
    margin-bottom: 10px;
  }
  .header-box{
    display: flex;
  }
  .search-header{
    flex: 1;
  }
  .logo-header{
    flex: 3;
  }
  .cnbc-logo{
    margin-bottom: 10px;
  }
  
  
  
  .header-nav .navbar{
    margin: 0;
    padding: 0;
  }
  .header-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .header-nav ul li{
    margin: 0 5px;
  }
  .header-nav ul li a{
    font-size: 16px;
    color: $white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 3px solid transparent;
  }
  .header-nav ul li a:hover,
  .header-nav ul li a:focus{
    color: $white;
    border-bottom-color: $warning;
  }
  .header-nav ul li.nav-item .dropdown-menu{
    background: $secondary-color;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
  }
  .header-nav ul li.nav-item .dropdown-menu li{
    padding: 0;
    margin: 0;
  }
  .header-nav ul li.nav-item .dropdown-menu li a{
    background: $secondary-color;
    border-bottom: 1px solid #0066b1;
    font-size: 14px;
  }
  .header-nav .navbar-toggler .navbar-toggler-icon{
    color: $white;
  }
  
  
  
  .search-header .search-box{
    display: flex;
    position: relative;
    margin-bottom: 10px;
  }
  .search-header .search-box input{
    background: $primary-color;
    border: none;
    font-weight: 600;
    color: $white;
    border-radius: 0;
  }
  .search-header .search-box input::placeholder{
    font-weight: 600;
    color: $white;
  }
  .search-header .search-box .input-group-text{
    background: none;
    border: none;
    position: absolute;
    left: 5px;
    top: 5px;
    color: $white;
  }
  
  
  
  .header-search-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .header-search-nav ul li a{
    font-size: 16px;
    color: $white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
  }
  
  .youtube-icon{
    background: $danger;
    color: $white;
    font-size: 7px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px 7px;
  }
  


//   Page Navigation Style


.page-nav{
    margin-bottom: 5px;
  }
  .page-nav .navbar{
    padding-top: 0;
  }
  .page-nav .navbar .navbar-nav{
    border-bottom: 1px solid $grey-light;
    margin: 0;
    padding: 0;
  }
  .page-nav .navbar .navbar-nav .nav-item {
    padding: 0px 15px;
    margin-bottom: -2px;
  }
  .page-nav .navbar .navbar-nav .nav-item a{
    color: $grey;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
  }
  .page-nav .navbar .navbar-nav .nav-item a.active{
    color: $secondary-color;
    border-bottom: 3px solid $secondary-color;
  }
  .page-nav .navbar .navbar-nav .nav-item a:hover{
    color: $secondary-color;
    border-bottom: 3px solid $secondary-color;
  }
  .page-nav .navbar-toggler .navbar-toggler-icon{
    color: $secondary-color;
  }



//   Page Categories Style

.page-categories{
    margin: 15px 0 15px 0;
  }
  .page-categories ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  
  .page-categories ul li{
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .page-categories ul li a{
    background: #f1f1f1;
    padding: 5px 20px;
    border-radius: 3px;
    text-decoration: none;
    color: $secondary-color;
    font-weight: bold;
    font-size: 14px;
    display: block;
  }
  .page-categories ul li a:hover{
    background: $secondary-color;
    color: $white;
  }
  




//   Titles Styles


.pageTitle{
    border-bottom: 6px solid $danger;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 25px;
  }
  .pageTitle h2{
    color:$danger;
    font-weight: bold;
    font-size: 32px;
  }
  .PageTitleYellow{
    border-color: $warning;
  }
  .PageTitleYellow h2{
    color:$primary-color;
  }
  
  
  
  .sectionTitle{
    border-top: 6px solid $primary-color;
    padding-top: 10px;
  }
  .sectionTitle h3{
    color: $primary-color;
    font-weight: 700;
    font-size: 24px;
  }
  
  
  
  .yellowTitle{
    border-top: 1px solid $grey;
  }
  .yellowTitle h3{
    color: $primary-color;
    font-weight: 700;
    font-size: 32px;
    border-top: 6px solid $warning;
    margin-top: -6px;
    padding-top: 10px;
    display: inline-block;
  }
  .primaryTitle{
    border-top: 1px solid $grey;
  }
  .primaryTitle h3{
    color: $primary-color;
    font-weight: 700;
    font-size: 32px;
    border-top: 6px solid $secondary-color;
    margin-top: -6px;
    padding-top: 10px;
    display: inline-block;
  }
  



//   List Styles


.NewsList ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .NewsList li{
    display: flex;
    border-bottom: 1px solid $grey-light;
    padding: 15px 0;
  }
  .NewsList li:last-child{
    border-bottom: none;
  }
  .NewsList li .newsImage{
    flex: 1;
    height: 107px;
    overflow: hidden;
    padding-right: 15px;
  }
  .NewsList li .newsText{
    flex: 3;
    padding: 5px 0 0 0px;
  }
  .NewsList li .newsText p{
    margin-top: 15px;
    margin-bottom: 0;
  }
  .NewsList li .newsText p a{
    margin-left: 15px;
  }
  .NewsList li a{
    font-size: 20px;
    color: $grey-dark;
    font-weight: bold;
  }
  .NewsList li p a{
    font-size: inherit;
    color: $secondary-color;
  }

  





//   News Styles


.breakingNews .newsbox{
    background: #EDEFF3;
    padding: 15px;
    display: flex;
    margin-bottom: 15px;
    border: 1px solid transparent;
  }
  .breakingNews .newsbox:hover{
    background: $white;
    border: 1px solid $grey-light;
  }
  .breakingNews .newsbox .newsaction{
    flex: 1;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .breakingNews .newsbox .newsaction .btn{
    font-weight: bold;
  }
  .breakingNews .newsbox .newslink{
    flex: 4;
  }
  .breakingNews .newsbox .newslink a{
    color: $grey-dark;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .breakingNews .newsbox .newslink p{
    margin: 0 0 5px 0;
    font-weight: bold;
  }
  
  
  
  
  
  .NewsTilesBg{
    background: $primary-dark;
    padding: 20px;
    color: $white;
  }
  .NewsTilesBg .TitleBar{
    margin-bottom: 10px;
  }
  .NewsTilesBg .VideoNews{
    border-top: 6px solid $warning;
    position: relative;
    overflow: hidden;
  }
  .NewsTilesBg .VideoNews .PlayTime{
    display: flex;
  }
  .NewsTilesBg .VideoNews .PlayTime .btn-text{
    background: $warning;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    transition: width .5s;
    width: 50px;
  }
  .NewsTilesBg .VideoNews .PlayTime:hover .btn-text{
      width: 150px;
      transition: width .5s;
  }
  .NewsTilesBg .VideoNews .PlayTime .btn{
    padding: 15px 15px 15px 20px;
    text-align: center;
  }

  .NewsTilesBg .VideoNews .PlayTime:hover .btn{
    background-color: $warning;
    border-color: $warning;
  }
  
  .NewsTilesBg .VideoNews .PlayTime .btn-text span{
    display: none;
    white-space: nowrap;
    color: $grey-dark;
    font-weight: bold;
    padding: 12px 15px 0;
    font-size: 20px;
  }
  .NewsTilesBg .VideoNews .PlayTime:hover .btn-text span{
    display: block;
}
  .NewsTilesBg .VideoNews .PlayTime .btn i{
      color: $white;
      font-size: 18px;
  }
  .NewsTilesBg .VideoNews .PlayTime h5{
    color: $white;
    padding: 10px 0 0 10px;
    position: absolute;
    left: 50px;
    top: 0;
  }
  .NewsTilesBg .VideoNews .NewsImage{
    height: 415px;
    overflow: hidden;
  }
  .NewsTilesBg .VideoNews .NewsImage img{
    width: 100%;
  }
  .NewsTilesBg .VideoNews .NewsContent{
      background-image: linear-gradient(to top, $primary-dark 30%, #071d3900);
      padding: 30px;
      position: absolute;
      bottom: 0;
  }
  .NewsTilesBg .VideoNews .NewsContent h4{
    color: $white;
  }

  
  .VideoTiles{
      display: flex;
  }
  .VideoTiles .VideoNews{
    flex: 1;
  }
  .VideoTiles .VideoNews .NewsImage{
    height: 123px;
  }
  .VideoTiles .VideoNews .PlayTime{
      width: 100%;
  }
  .VideoTiles .VideoNews .PlayTime .btn{
    font-size: 12px;
    padding: 5px 10px;
}
.NewsTilesBg .VideoTiles .VideoNews .PlayTime .btn-text span {
    padding: 5px 5px 0px;
    font-size: inherit;
}
.VideoTiles .VideoNews .PlayTime .btn i{
    font-size: inherit;
}
.NewsTilesBg .VideoTiles .VideoNews .PlayTime .btn-text{
    width: 34px;
}
.NewsTilesBg .VideoTiles .VideoNews .PlayTime:hover .btn-text {
    width: 90px;
}
  .VideoTiles .VideoNews .PlayTime h5{
      flex: 2;
      font-size: 12px;
      padding-right: 5px;
      right: 0;
  }
  .VideoTiles .NewsContent{
    flex: 2;
    padding-right: 20px;
  }
  .VideoTiles .NewsContent h4{
      font-size: 15px;
      line-height: 25px;
  }











  .NewsLightTiles{
      background: $light;
      padding: 20px;
    color: $grey-dark;
  }
  .NewsLightTiles .TitleBar h2{
    color: $primary-color;
  }
  .NewsLightTiles .VideoNews{
    position: relative;
    overflow: hidden;
  }
.NewsLightTiles .VideoNews .NewsImage{
    height: 415px;
    overflow: hidden;
  }
  .NewsLightTiles .VideoNews .NewsImage img{
    width: 100%;
  }
  .NewsLightTiles .VideoNews .NewsContent{
      background-image: linear-gradient(to top, $primary-dark 30%, #071d3900);
      padding: 30px;
      position: absolute;
      bottom: 0;
  }
  .NewsLightTiles .VideoNews .NewsContent h4{
    color: $white;
  }
  .NewsLightTiles .VideoTiles{
    display: flex;
}
.NewsLightTiles .VideoTiles .VideoNews{
  flex: 1;
}
.NewsLightTiles .VideoTiles .VideoNews .NewsImage{
  height: 127px;
}
.NewsLightTiles .VideoTiles .NewsContent h4{
    color: $primary-color;
}








  .NewsTiles .newBox{
    margin-bottom: 25px;
  }
  .NewsTiles .newBox .NewsImage{
    margin-bottom: 10px;
    height: 180px;
    overflow: hidden;
  }
  .NewsTiles .newBox .NewsInfo a{
    color: $secondary-color;
    margin-left: 15px;
  }
  .NewsTiles .newBox .NewsInfo h3{
    font-size: 22px;
    font-weight: bold;
  }
  .NewsTiles .newBox .NewsInfo h4{
    font-size: 16px;
      font-weight: bold;
  }



//   Market Graphs Styles

.market-stats .marketBox{
    margin-bottom: 15px;
  }
  .marketBox{
    padding: 10px;
  }
  .marketBox table{
    color: $white;
    margin: 0;
    font-size: 12px;
  }
  .marketBox table th{
    font-size: 16px;
    font-weight: bold;
  }
  .marketBox table th,
  .marketBox table td{
    line-height: 5px;
  }
  .marketBox table .fa{
    font-size: 20px;
  }


  
.stockMarketNews{
    margin: 15px 0;
  }
  .marketChart{
    margin: 30px 0;
  }
  .marketChart .chartBox{
    background: #FAFAFA;
    border: 1px solid $grey-light;
    border-top: 6px solid $primary-color;
    padding: 30px;
    margin-top: 20px;
  }
  .marketChart .chartBox .chartTop{
    display: flex;
    list-style: none;
    margin: 0;
    padding:0;
  }
  .marketChart .chartBox .chartTop h4{
    padding-left: 20px;
    color: $primary-color;
    font-weight: 700;
    font-size: 24px;
  }
  .marketChart .chartBox .chartTop .active a{
    color: $primary-color;
    border-bottom: 2px solid $primary-color;
  }
  .marketChart .chartBox .chartTop li a{
    color: $grey;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 20px;
  }
  
  .marketChart .chartBox h3{
    font-weight: bold;
    margin: 20px 0 30px;
  }
  .marketChart .chartBox table{
    font-weight: bold;
    color: $grey;
    font-size: 15px;
  }





 .horizontalNumberList{
     margin: 30px 0;
 }
 .horizontalNumberList .hNumberList ol{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    counter-reset: mynumberlist;
 }
 .horizontalNumberList .hNumberList ol li{
    border-right: 5px solid $light-bright;
    padding:0px 15px 10px 60px;
    counter-increment: mynumberlist;
    color: $grey-dark;
    font-size: 14px;
 }
 .horizontalNumberList .hNumberList ol li::before{
     content: counter(mynumberlist);
     color: #CFD8E2;
     font-size: 45px;
     font-weight: 700;
     display: block;
 }



 .newsSlider .slick-slider .NewsBox{
    background: url(../images/biden.jpg) no-repeat;
    height: 326px;
    position: relative;
 }

 .newsSlider .slick-slider .NewsBox .newscontent{
    background-image: linear-gradient(to top, $primary-dark 30%, #071d3900);
      padding: 30px;
      position: absolute;
      bottom: 0;
      width: 100%;
}
.newsSlider .slick-slider .NewsBox .newscontent h3 a{
    color: white;
    font-size: 20px;
    line-height: normal;
}