// Colors Variables
$primary-color:#002f6c;
$secondary-color:#005594;
$primary-dark:#071D39;
$info:#0089d0;
$warning:#fcb700;
$danger:#ce2b2b;
$success:#008456;
$light-bright:#f7f7f7;
$light:#edeff3;
$grey-light:#dddddd;
$grey:#777777;
$grey-dark:#1c1c1c;
$white:#fff;
$black:#000;


// Font Family Variables
$primary-font: 'Cairo', sans-serif;
$secondary-font: 'IBM Plex Sans Arabic', sans-serif;
$tertiary-font: 'Montserrat', sans-serif;


// Font Sizes Variables
$body-font:14px;
$basic-font:16px;