
      <div class="float-right">
      <div class="d-flex">
          <nz-form-item class="mr-2">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Status" nzSpan="8">
              <nz-option nzValue="Active" [nzLabel]="'Active'"></nz-option>
              <nz-option nzValue="InActive" [nzLabel]="'InActive'"></nz-option>
            </nz-select>
          </nz-form-item>
          <nz-form-item class="mr-2">
              <nz-input-group>
                  <input nz-input placeholder="Search Admin Name">
              </nz-input-group>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button nz-button [nzType]="'primary'">Search</button>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
        
