<section>
  <br>
  <br>
  <div class="col-12">
    <form nz-form [nzLayout]="'vertical'">
      <div class="row">
        <div class="col-6">
      <div class="row">
          <div class="col-12">
            <nz-form-item>
              <nz-form-control>
              <strong>Enable Tracking</strong> <nz-switch class="ml-3"> </nz-switch> 
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-12">
            <nz-form-item>
              <nz-form-label>Embed Code</nz-form-label>
              <nz-form-control>
                  <textarea type="text" placeholder="Embed Code" dir="rtl" nz-input></textarea>
              </nz-form-control>
          </nz-form-item>
          </div>
          <div class="col-md-12">
            <nz-form-item>
              <nz-form-label>Google Site Key </nz-form-label>
              <nz-form-control>
                <input type="text" nz-input placeholder="Enter Site Key">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-12">
            <nz-form-item>
              <nz-form-label>Google Secret Key </nz-form-label>
              <nz-form-control>
                <input type="text" nz-input placeholder="Enter Secret Key">
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-md-12">
            <nz-form-item>
              <nz-form-control>
                <button class="mr-3" nz-button nzType="primary">Save</button>
                <button nz-button nzType="default">Cancel</button>
              </nz-form-control>
            </nz-form-item>
          </div>
      </div>
        </div>
      </div>
    </form>
  </div>
</section>