/* You can add global styles to this file, and also import other style files */
@import url('./assets/lib/hljs/styles/atom-one-light.css');
// @import url('./node_modules/ng-zorro-antd/src/ng-zorro-antd.min.css');
@import url('../../../node_modules/ng-zorro-antd/src/ng-zorro-antd.min.css');
@import url('../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css');
// @import url('./node_modules/@fortawesome/fontawesome-free/css/all.min.css');
@import './assets/scss/app.scss';

.ant-checkbox-wrapper{
    vertical-align: middle;
}
.ant-table-cell{
    .justify-content-between{
        justify-content: start !important;
        i{
            margin-right: 8px;
        }
    }

}
.ant-select-multiple {
    .ant-select-selector{
        padding: 1px 4px;
    }
}
.cdk-drop-list{
    background: #f9fbfd;
    left: 0;
    z-index: 1;
    right: 0;
    padding: 20px;
    td{
        &.ant-table-cell{
            margin-right: 10px;
        }
    }
}
.sub_cat_block {
    position: absolute;
}
.featured_news{
    thead.ant-table-thead{
        margin-bottom: 15px;
    }
    .ant-table table{
        padding: 20px;
        .ant-table-row{
            .ant-table-cell{
                .ant-form-item{
                    margin-bottom: 0;
                    min-width: 300px;
                    
                }
            }
            news-table-row{
                display: inline-block;
                .co.ant-table-cell{
                    width: 300px;
                }
               
            }
        }
        thead{
            tr{
                th{
                    border-bottom: none;
                }
            }
        }
    }
}
.cdk-drop-list {
    .cdk-drag {
        td{
            &.ant-table-cell {
                padding-right: 20px;
            }
        }
    }
}
.error_msg {
    width: 100%;
    font-size: 12px;
    margin-top: 3px;
}
.admin_rights_wrap {
    .ant-checkbox-wrapper{
        margin-bottom: 10px;
    }
}
table tr td.ant-table-selection-column, table tr th.ant-table-selection-column{
    text-align: left;
}
// .ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
//     min-width: 150px;
// }
.ant-table thead > tr > th.title_col {
    width: 250px;
}
.ant-table thead > tr > th.w_50 {
    width: 50px;
}
.ant-table thead > tr > th.w_80 {
    width: 80px;
}
.ant-table-tbody > tr > td{
    a{
        color: #53535f;
    }
}
.min_w150{
    min-width: 150px;
}

// mediaqueries
@media (min-width:1600px) {
    .ant-table thead > tr > th.title_col {
        width: 520px;
    }
}