
      <div class="float-right">
        <div class="d-flex">
            <nz-form-item class="mr-2">
                    <nz-form-control>
                      <nz-date-picker [(ngModel)]="filterModel.date" [nzDateRender]="tplRender"></nz-date-picker>
                    </nz-form-control>
              </nz-form-item>
              <nz-form-item class="mr-2">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="All News" [(ngModel)]="filterModel.newsType">
                  <nz-option [nzValue]="'NEWS'" [nzLabel]="'News'"></nz-option>
                <nz-option [nzValue]="'ARTICLE'" [nzLabel]="'Article'"></nz-option>
                </nz-select>
              </nz-form-item>
              <nz-form-item class="mr-2 min_w150">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Category" [(ngModel)]="filterModel.categoryId">
                  <nz-option *ngFor="let cat of allCategories" [nzValue]="cat?.id" [nzLabel]="cat?.title"></nz-option>
                </nz-select>
              </nz-form-item>
            <nz-form-item class="mr-2">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Publisher" [(ngModel)]="filterModel.publishedBy">
                  <nz-option *ngFor="let admin of allAdmins" [nzValue]="admin?.id" [nzLabel]="admin?.name"></nz-option>
                </nz-select>
              </nz-form-item>
            <nz-form-item class="mr-2">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Status" [(ngModel)]="filterModel.isActive">
                <nz-option [nzValue]="true" [nzLabel]="'Active'"></nz-option>
                <nz-option [nzValue]="false" [nzLabel]="'InActive'"></nz-option>
              </nz-select>
            </nz-form-item>
            <nz-form-item class="mr-2">
                    <input [(ngModel)]="filterModel.search" nz-input placeholder="Search Title">
            </nz-form-item>
            <nz-form-item class="mr-2">
              <nz-form-control>
                <button nz-button (click)="search()" [nzType]="'primary'">Search</button>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <button nz-button (click)="clear()" [nzType]="'default'">Clear</button>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <ng-template #tplRender let-current>
          <div class="ant-picker-cell-inner" [class.border]="current.getDate() === 1">
            {{ current.getDate() }}
          </div>
        </ng-template>
          
  