<section>
  <br>
  <br>
  <div class="col-12">
    <form [formGroup]="trendingNowForm" nz-form [nzLayout]="'vertical'" (ngSubmit)="updateTrendingNow()">
      <div class="row">
        <div class="col-12">
        <nz-table [nzData]="allTrendingNow" class="no-border-last">
          <thead>
              <tr>
                  <th class="text-left" colspan="4">Reorder</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let news of tNews">
                  <td>#</td>
                  <td>{{news?.position}}</td>
                  <news-table-row [news]="news"></news-table-row>
              </tr>
          </tbody>
      </nz-table>
        </div>
        <div class="col-md-12 mt-3">
          <nz-form-item>
            <nz-form-control>
              <button class="mr-3" nz-button nzType="primary">Save</button>
              <!-- <button nz-button nzType="default">Cancel</button> -->
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </div>
</section>