
<section>
    <br>
    <br>
    <div class="col-12">
      <form nz-form [nzLayout]="'vertical'">
        <div class="row">
          <div class="col-12">
          <nz-table [nzData]="allFeaturedNews" class="no-border-last">
            <thead>
                <tr>
                    <th class="text-left" colspan="4">Reorder</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#</td>
                    <td>1</td>
                    <td class="col-4">
                      <nz-form-item>
                        <nz-form-control >
                        <!-- <nz-select nzMode="default" (nzBlur)="getCategoryNews()" [ngModel]="cat1"  nzAllowClear nzPlaceHolder="Select Category">
                          <nz-option *ngFor="let cat of allCategories" [nzValue]="cat?.id" [nzLabel]="cat?.title"></nz-option>
                        </nz-select> -->
                        <select (change)="getCategoryNews($event.target.value)">
                          <option *ngFor="let cat of allCategories" [value]="cat.id">{{cat.title}}</option>
                        </select>
                      </nz-form-control>
                      </nz-form-item>
                    </td>
                    <td>
                      <nz-form-item>
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select News">
                          <nz-option *ngFor="let catNews of allCategoryNews" [nzValue]="catNews?.id" [nzLabel]="catNews?.title"></nz-option>
                        </nz-select>
                      </nz-form-item>
                    </td>
                </tr>
                <tr>
                  <td>#</td>
                  <td>2</td>
                  <td class="col-4">
                    <nz-form-item>
                      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Category">
        
                        <nz-option nzValue="Category 1" [nzLabel]="'Category 1'"></nz-option>
                        <nz-option nzValue="Category 2" [nzLabel]="'Category 2'"></nz-option>
                      </nz-select>
                    </nz-form-item>
                  </td>
                  <td>
                    <nz-form-item>
                      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select News">
                        <nz-option nzValue="News 1" [nzLabel]="'News 1'"></nz-option>
                        <nz-option nzValue="News 2" [nzLabel]="'News 2'"></nz-option>
                      </nz-select>
                    </nz-form-item>
                  </td>
              </tr>
              <tr>
                <td>#</td>
                <td>3</td>
                <td class="col-4">
                  <nz-form-item>
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Category">
                      <nz-option nzValue="Category 1" [nzLabel]="'Category 1'"></nz-option>
                      <nz-option nzValue="Category 2" [nzLabel]="'Category 2'"></nz-option>
                    </nz-select>
                  </nz-form-item>
                </td>
                <td>
                  <nz-form-item>
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select News">
                      <nz-option nzValue="News 1" [nzLabel]="'News 1'"></nz-option>
                      <nz-option nzValue="News 2" [nzLabel]="'News 2'"></nz-option>
                    </nz-select>
                  </nz-form-item>
                </td>
            </tr>
            <tr>
              <td>#</td>
              <td>4</td>
              <td class="col-4">
                <nz-form-item>
                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Category">
                    <nz-option nzValue="Category 1" [nzLabel]="'Category 1'"></nz-option>
                    <nz-option nzValue="Category 2" [nzLabel]="'Category 2'"></nz-option>
                  </nz-select>
                </nz-form-item>
              </td>
              <td>
                <nz-form-item>
                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select News">
                    <nz-option nzValue="News 1" [nzLabel]="'News 1'"></nz-option>
                    <nz-option nzValue="News 2" [nzLabel]="'News 2'"></nz-option>
                  </nz-select>
                </nz-form-item>
              </td>
          </tr>
          <tr>
            <td>#</td>
            <td>5</td>
            <td class="col-4">
              <nz-form-item>
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Category">
                  <nz-option nzValue="Category 1" [nzLabel]="'Category 1'"></nz-option>
                  <nz-option nzValue="Category 2" [nzLabel]="'Category 2'"></nz-option>
                </nz-select>
              </nz-form-item>
            </td>
            <td>
              <nz-form-item>
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select News">
                  <nz-option nzValue="News 1" [nzLabel]="'News 1'"></nz-option>
                  <nz-option nzValue="News 2" [nzLabel]="'News 2'"></nz-option>
                </nz-select>
              </nz-form-item>
            </td>
        </tr>
        <tr>
          <td>#</td>
          <td>6</td>
          <td class="col-4">
            <nz-form-item>
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Category">
                <nz-option nzValue="Category 1" [nzLabel]="'Category 1'"></nz-option>
                <nz-option nzValue="Category 2" [nzLabel]="'Category 2'"></nz-option>
              </nz-select>
            </nz-form-item>
          </td>
          <td>
            <nz-form-item>
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select News">
                <nz-option nzValue="News 1" [nzLabel]="'News 1'"></nz-option>
                <nz-option nzValue="News 2" [nzLabel]="'News 2'"></nz-option>
              </nz-select>
            </nz-form-item>
          </td>
      </tr>
      <tr>
        <td>#</td>
        <td>7</td>
        <td class="col-4">
          <nz-form-item>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Category">
              <nz-option nzValue="Category 1" [nzLabel]="'Category 1'"></nz-option>
              <nz-option nzValue="Category 2" [nzLabel]="'Category 2'"></nz-option>
            </nz-select>
          </nz-form-item>
        </td>
        <td>
          <nz-form-item>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select News">
              <nz-option nzValue="News 1" [nzLabel]="'News 1'"></nz-option>
              <nz-option nzValue="News 2" [nzLabel]="'News 2'"></nz-option>
            </nz-select>
          </nz-form-item>
        </td>
    </tr>
    <tr>
      <td>#</td>
      <td>8</td>
      <td class="col-4">
        <nz-form-item>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Category">

            <nz-option nzValue="Category 1" [nzLabel]="'Category 1'"></nz-option>
            <nz-option nzValue="Category 2" [nzLabel]="'Category 2'"></nz-option>
          </nz-select>
        </nz-form-item>
      </td>
      <td>
        <nz-form-item>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select News">
            <nz-option nzValue="News 1" [nzLabel]="'News 1'"></nz-option>
            <nz-option nzValue="News 2" [nzLabel]="'News 2'"></nz-option>
          </nz-select>
        </nz-form-item>
      </td>
  </tr>
            </tbody>
        </nz-table>
          </div>
          <div class="col-md-12 mt-3">
            <nz-form-item>
              <nz-form-control>
                <button class="mr-3" nz-button nzType="primary">Save</button>
                <!-- <button nz-button nzType="default">Cancel</button> -->
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </div>
  </section>