<section>
  <br>
  <br>
  <div class="col-12">
    <form nz-form [nzLayout]="'vertical'">
      <div class="row">
        <div class="col-12">
      <div class="row">
        <div class="col-12">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="text">Title</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input placeholder="Enter Title" dir="rtl" />
            </nz-form-control>
          </nz-form-item>
        </div>
          <div class="col-md-12">
            <nz-form-item>
              <nz-form-label [nzSpan]="6">Link </nz-form-label>
              <nz-form-control [nzSpan]="14">
                <input type="text" nz-input placeholder="Enter Link">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-12">
            <nz-form-item>
              <nz-form-label [nzSpan]="6">Select Media Channels</nz-form-label>
              <nz-form-control [nzSpan]="14">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Channel">
                <nz-option nzValue="Channel 1" [nzLabel]="'Channel 1'"></nz-option>
                <nz-option nzValue="Channel 2" [nzLabel]="'Channel 2'"></nz-option>
              </nz-select>
            </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-12">
            <nz-form-item>
              <nz-form-control [nzSpan]="14">
                <nz-switch class="mr-3"> </nz-switch> Active
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-12">
            <nz-form-item>
              <nz-form-control [nzSpan]="14">
                <button class="mr-3" nz-button nzType="primary">Save</button>
                <button nz-button nzType="default">Cancel</button>
              </nz-form-control>
            </nz-form-item>
          </div>
      </div>
        </div>
      </div>
    </form>
  </div>
</section>