
<section>
    <br>
    <br>
    <div class="col-12">
      <form  nz-form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" [nzLayout]="'vertical'">
        <div class="row">
          <div class="col-6">
        <div class="row">
          <div class="col-12">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="oldPassword">Old Password</nz-form-label>
              <nz-form-control nzErrorTip="Enter Old Password!">
                <input type="password" nz-input id="oldPassword" formControlName="oldPassword" placeholder="Enter Old Password" dir="rtl" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-12">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="password">New Password</nz-form-label>
              <nz-form-control [nzErrorTip]="errorTp">
                <input type="password" nz-input formControlName="password" placeholder="New Password" dir="rtl" (ngModelChange)="updateConfirmValidator()"/>
                <ng-template #errorTp let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Enter New Password!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('confirm')">
                    Old Password and New Password can't be same!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-12">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="confirmPassword">Confirm Password</nz-form-label>
              <nz-form-control [nzErrorTip]="errorTpl">
                <input type="password" nz-input id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password" dir="rtl" />
                <ng-template #errorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Confirm Password!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('confirm')">
                    Password does not match!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
  
            <div class="col-md-12">
              <nz-form-item>
                <nz-form-control>
                  <button class="mr-3" nz-button nzType="primary">Save</button>
                  <button nz-button nzType="default" (click)="[getCaptcha($event),cancel()]">Cancel</button>
                </nz-form-control>
              </nz-form-item>
            </div>
        </div>
          </div>
        </div>
      </form>
    </div>
  </section>