
<section>
    <br>
    <br>
    <div class="col-12">
      <form nz-form [nzLayout]="'vertical'">
        <div class="row">
          <div class="col-6">
        <div class="row">
          <div class="col-12">
            <nz-form-item>
              <nz-form-label nzFor="text">Old Password</nz-form-label>
              <nz-form-control>
                <input nz-input placeholder="Enter Old Password" dir="rtl" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-12">
            <nz-form-item>
              <nz-form-label nzFor="text">New Password</nz-form-label>
              <nz-form-control>
                <input nz-input placeholder="New Password" dir="rtl" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-12">
            <nz-form-item>
              <nz-form-label nzFor="text">Confirm Password</nz-form-label>
              <nz-form-control>
                <input nz-input placeholder="Confirm Password" dir="rtl" />
              </nz-form-control>
            </nz-form-item>
          </div>
  
            <div class="col-md-12">
              <nz-form-item>
                <nz-form-control>
                  <button class="mr-3" nz-button nzType="primary">Save</button>
                  <button nz-button nzType="default">Cancel</button>
                </nz-form-control>
              </nz-form-item>
            </div>
        </div>
          </div>
        </div>
      </form>
    </div>
  </section>