<nz-card class="bg-white mt-2">
    <!-- <div class="m-t-40"> -->
    <h4>10 Comments</h4>
    <!-- [nzPagination]="pagination" -->
    <nz-list [nzDataSource]="commentListData" [nzRenderItem]="comment" [nzItemLayout]="'vertical'">
        <ng-template #comment let-item>
            <!-- [nzActions]="[action]" -->
            <nz-list-item class="d-block" [nzContent]="item.comment">
                <!-- [nzAvatar]="item.img" -->
                <nz-list-item-meta [nzTitle]="commentTitle" [nzDescription]="item.date">
                    <ng-template #commentTitle>
                        <a class="font-size-15" href="">{{item.name}}</a>
                    </ng-template>
                </nz-list-item-meta>
            </nz-list-item>
        </ng-template>
        <nz-form-item>
            <!-- <nz-form-label>title</nz-form-label> -->
            <textarea type="text" style="min-height:150px;" placeholder="Write a comment..."
                nz-input></textarea>
            <button class="mr-3" style="position: absolute; right: 0px;bottom:10px" nz-button
                nzType="primary" (click)="getCaptcha($event)">Add Comment</button>
        </nz-form-item>
        <!-- <ng-template #pagination>
<nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
</ng-template> -->
    </nz-list>
    <!-- </div> -->
</nz-card>