<div class="row">
    <div class="col-md-2">
        <button nz-button [nzType]="'primary'" [routerLink]="['/addresses/add']">Add Addresses</button>
    </div>
    <div class="col-md-10">
        <addresses-filter></addresses-filter>
    </div>
    <div class="col-lg-12 mt-3">
        <nz-card>
            <div>
                <nz-table [nzShowPagination]="false" [nzLoading]="loading" [nzData]="allBranches" class="no-border-last">
                    <thead>
                        <tr>
                            <th>Reorder </th>
                            <th>Title </th>
                            <th>Phone</th>
                            <th>Fax</th>
                            <th>Addresses Line 1</th>
                            <th>Addresses Line 2</th>
                            <th>User</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let branch of allBranches">
                            <td [nzChecked]="setOfCheckedId.has(branch?.id)" [nzDisabled]="branch.disabled"
                                (nzCheckedChange)="onItemChecked(branch?.id, $event)"></td>
                            <td>{{branch?.title}}</td>
                            <td>{{branch?.phone}}</td>
                            <td>{{branch?.fax}}</td>
                            <td>{{branch?.addressLine1}}</td>
                            <td>{{branch?.addressLine2}}</td>
                            <td>{{branch?.user?.name}}</td>
                            <td>
                                <nz-badge *ngIf="branch?.isActive === true" nzStatus="success"></nz-badge>
                                <nz-badge *ngIf="branch?.isActive === false" nzStatus="error"></nz-badge>
                                <!-- <span class="text-capitalize">{{item.status}}</span> -->
                            </td>
                            <td>
                                <div class="d-flex justify-content-between">
                                    <i nz-tooltip nzTooltipTitle="Edit" nz-icon nzType="edit" nzTheme="outline" [routerLink]="['/addresses/add/' + branch?.id]"></i>
                                    <i nz-tooltip nzTooltipTitle="Delete" style="cursor: pointer;" nz-icon nzType="delete" nzTheme="outline" (click)="deleteBranch(branch?.id)"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
                <div class="text-right mt-2">
                    <nz-pagination [nzPageIndex]="pagination.pageNo" [nzTotal]="branchesCount" [nzPageSize]="pagination.limit" [nzShowSizeChanger]="true"
                    [nzResponsive]="true" (nzPageIndexChange)="onPageIndexChange($event)" (nzPageSizeChange)="onPageSizeChange($event)"></nz-pagination>
                </div>
            </div>
        </nz-card>
    </div>
</div>
