<section>
    <br>
    <br>
    <div class="col-12">
      <form nz-form [formGroup]="breakingNewsForm" [nzLayout]="'vertical'" (ngSubmit)="breakingNews()">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="text" nzRequired >Breaking News Title Description</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input Breaking News Title!">
              <input nz-input formControlName="title" placeholder="Enter Title" dir="rtl"  />
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="text" nzRequired >Related News Link</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input valid News Link!">
              <input nz-input formControlName="newsLink" placeholder="Enter Link"  />
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <h4 class="mb-2">General Settings</h4>
            <nz-form-control [nzSpan]="14">
              <nz-switch class="mr-3" formControlName="isActive"> </nz-switch>  Active
            </nz-form-control>
          </nz-form-item >
          <div>
            <h4 class="mb-2">Sharing Settings</h4>
            <nz-form-item>
                <nz-form-control [nzSpan]="14">
                    <button class="mr-3" nz-button 
                    nzType= "" [ngClass]="breakingNewsForm.value.isPushNotificationActive === true ? 'primary' : 'default'" (click)="enableDisable($event)">Push Notification</button>
                    <button class="mr-3" nz-button 
                    nzType="" [ngClass]="breakingNewsForm.value.IsTwitterActive === true ? 'primary' : 'default'" >Twitter</button>
                    <button class="mr-3" nz-button 
                    nzType=""  [ngClass]="breakingNewsForm.value.isFacebookActive === true ? 'primary' : 'default'">Facebook</button>
                </nz-form-control>
            </nz-form-item>
        </div>
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzFor="text">Set Visibility Time: </nz-form-label>
          <nz-form-control [nzSpan]="4">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Visibility Time">
            <nz-option nzValue="5 min" [nzLabel]="'5 min'"></nz-option>
            <nz-option nzValue="10 min" [nzLabel]="'10 min'"></nz-option>
            <nz-option nzValue="15 min" [nzLabel]="'15 min'"></nz-option>
            <nz-option nzValue="20 min" [nzLabel]="'20 min'"></nz-option>
          </nz-select>
        </nz-form-control>
        </nz-form-item>
          <nz-form-item>
            <nz-form-control [nzSpan]="14" >
              <button class="mr-3" nz-button nzType="primary">Save</button>
              <button nz-button nzType="default" (click)="cancel()">Cancel</button>
            </nz-form-control>
          </nz-form-item>
        </form>
    </div>
  </section>