<nz-modal
  nzWidth="80%"
  [(nzVisible)]="isVisible"
  nzTitle="File Manager"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkDisabled]="disabled"
>
  <ng-container *nzModalContent>
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex align-items-center justify-content-between filter_bar">
          <div>
            <i
              class="mr-2"
              (click)="filterFiles('IMAGE')"
              nz-icon
              nzType="file-image"
              nzTheme="outline"
            ></i>
            <i
              class="mr-2"
              (click)="filterFiles('VIDEO')"
              nz-icon
              nzType="video-camera"
              nzTheme="outline"
            ></i>
            <!-- <i
              class="mr-2"
              nz-icon
              nzType="upload"
              nzTheme="outline"
            ></i> -->
          </div>
          <nz-form-item nzSize="small">
            <!-- <nz-form-label nzRequired>Slug Line</nz-form-label> -->
            <nz-form-control>
              <input
                type="text"
                [(ngModel)]="pagination.title"
                placeholder="Search Tilte"
                nz-input
              />
              <i class="fas fa-search ml-3" (click)="onSearch($event)"></i>
              <i class="fas fa-times mr-3" (click)="onClear($event)"></i>
              <!-- <button class="ml-2" nz-button (click)="onClear($event)" [nzType]="'default'">Clear</button> -->
            </nz-form-control>
        </nz-form-item>
          <!-- <nz-item>
                        <input class="float-right" placeholder="Search Title" type="text" [(ngModel)]="searchTitle">
                    </nz-item> -->
        </div>
      </div>
    </div>
    <div
      class="d-flex"
      style="display: flex; width: auto; overflow: auto; flex-wrap: wrap"
    >
      <ng-container *ngFor="let file of files">
        <div
          style="width: 100px; padding: 5px"
          [ngStyle]="
            file.id === selctedFile.id
              ? { 'background-color': 'lightgray' }
              : {}
          "
          (click)="onSelect(file)"
        >
          <img
            *ngIf="file && file.attachmentType !== 'VIDEO'"
            src="{{ filePath + file.path }}"
            width="80" class="cursor"
          />
          <video
            *ngIf="file && file.attachmentType === 'VIDEO'"
            width="100" class="cursor"
            controls
          >
            <source src="{{ filePath + file.path }}" />
          </video>
          <br />
          <span [title]="file.title" class="cursor">{{ file.title | slice: 0:10 }}...</span>
          <br />
          <span [title]="file.description" class="cursor"
            >{{ file.description | slice: 0:10 }}...</span
          >
          <!-- <br> -->
        </div>
        <a
          nz-popconfirm
          nzPopconfirmTitle="Are you sure delete this task?"
          nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="confirm(file)"
          (nzOnCancel)="cancel()"
        >
          <i
            nz-tooltip
            nzTooltipTitle="Delete"
            class="cursor text-danger"
            nz-icon
            nzType="delete"
            nzTheme="outline"
          ></i>
          <!-- <i class="fa fa-trash"></i> -->
        </a>
      </ng-container>
    </div>
    <div class="row mt-2">
      <!-- <i nz-icon nzType="right-circle" nzTheme="outline"></i> -->
      <div class="col-md-12">
        <div class="float-right">
          <i
            nz-icon
            class="cursor mr-2"
            role="button"
            [disabled]="this.pagination.pageNo === 1"
            nzType="left-circle"
            (click)="prev()"
            nzTheme="outline"
          ></i>
          <i
            nz-icon
            class="cursor mr-2"
            role="button"
            nzType="right-circle"
            (click)="next()"
            nzTheme="outline"
          ></i>
        </div>
      </div>
      <!-- <nz-pagination [nzPageIndex]="pagination.pageNo" [nzTotal]="totalCount" [nzPageSize]="pagination.limit" [nzShowSizeChanger]="true"
             (nzPageIndexChange)="onPageIndexChange($event)" (nzPageSizeChange)="onPageSizeChange($event)"></nz-pagination> -->
    </div>
  </ng-container>
</nz-modal>
