<div class="row">

    <div class="col-md-2">
        <button nz-button [nzType]="'primary'" [routerLink]="['/news/add']">Add News</button>
    </div>
    <div class="col-md-10">
        <news-filter></news-filter>
    </div>
    <div class="col-lg-12 mt-3">
        <nz-card>
            <div class="m-t-30">
                <nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="allNews"
                    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
                    <thead>
                        <tr>
                            <th [nzChecked]="checked" [nzIndeterminate]="indeterminate"
                                (nzCheckedChange)="onAllChecked($event)"></th>
                            <th>Title</th>
                            <th>Type</th>
                            <th>Category</th>
                            <th>Created</th>
                            <th>Modified</th>
                            <th>Publisher</th>
                            <th>Last Modified</th>
                            <th>Views</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of rowSelectionTable.data">
                            <td [nzChecked]="setOfCheckedId.has(data.id)" [nzDisabled]="data.disabled"
                                (nzCheckedChange)="onItemChecked(data.id, $event)"></td>

                            <td>
                                <div class="d-flex align-items-center">
                                    <h6 class="m-l-10 m-b-0">{{data.name}}</h6>
                                </div>
                            </td>
                            <td>{{data.age}}</td>
                            <td>${{data.name}}</td>
                            <td>${{data.name}}</td>
                            <td>${{data.name}}</td>
                            <td>${{data.name}}</td>
                            <td>${{data.name}}</td>
                            <td>${{data.name}}</td>
                            <td>
                                <nz-badge nzStatus="success"></nz-badge>
                                <!-- <nz-badge *ngIf="item.status == 'rejected'" nzStatus="error"></nz-badge>
            <nz-badge *ngIf="item.status == 'pending'"  nzStatus="processing"></nz-badge>  -->

                            </td>
                            <td>
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-external-link-alt"></i>
                                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                                    <i nz-icon nzType="bell" nzTheme="outline"></i>
                                    <i nz-icon nzType="link" nzTheme="outline"></i>
                                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </nz-card>
    </div>
</div>