<div class="row ">
    <div class="col-3">
        <button nz-button [nzType]="'primary'" [routerLink]="['/admins/add']">Add User</button>
    </div>
    <div class="col-9">
        <user-filter></user-filter>
    </div>
    <div class="col-lg-12 mt-2">
        <nz-card>
          
            <div class="">
                <nz-table #ordersListTable [nzData]="ordersList"  [nzShowPagination]="false" class="no-border-last">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Customer</th>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of ordersListTable.data">
                            <td>#{{item.id}}</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <nz-avatar [nzSize]="30" nzIcon="user" [nzSrc]="item.avatar"></nz-avatar>
                                    <h6 class="m-l-10 m-b-0">{{item.name}}</h6>
                                </div>
                            </td>
                            <td>{{item.date}}</td>
                            <td>${{item.amount | number:'3.2-5'}}</td>
                            <td>
                                <nz-badge *ngIf="item.status == 'approved'" nzStatus="success"></nz-badge>
                                <nz-badge *ngIf="item.status == 'rejected'" nzStatus="error"></nz-badge>
                                <nz-badge *ngIf="item.status == 'pending'"  nzStatus="processing"></nz-badge> 
                                <span class="text-capitalize">{{item.status}}</span>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </nz-card>
    </div>
</div>
