
      <div class="float-right">
        <div class="d-flex">
            <nz-form-item class="mr-2">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Menu Location" nzSpan="8" [(ngModel)]="filterModel.position">
                  <nz-option nzValue="HEADER" [nzLabel]="'Header'"></nz-option>
                  <nz-option nzValue="FOOTER" [nzLabel]="'Footer'"></nz-option>
                </nz-select>
              </nz-form-item>
            <nz-form-item class="mr-2">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Status" nzSpan="8" [(ngModel)]="filterModel.isActive">
                <nz-option [nzValue]="true" [nzLabel]="'Active'"></nz-option>
                <nz-option [nzValue]="false" [nzLabel]="'InActive'"></nz-option>
              </nz-select>
            </nz-form-item>
            <nz-form-item class="mr-2">
                <nz-input-group>
                    <input  [(ngModel)]="filterModel.title" nz-input placeholder="Search" nzSize="small">
                </nz-input-group>
            </nz-form-item>
            <nz-form-item class="mr-2">
              <nz-form-control>
                <button nz-button (click)="search()" [nzType]="'primary'">Search</button>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <button nz-button (click)="clear()" [nzType]="'default'">Clear</button>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
          
  