<section>
  <br>
  <br>
  <div class="col-12">
    <form [formGroup]="menuForm" nz-form [nzLayout]="'vertical'" (ngSubmit)="menus()">
      <div class="row">
        <div class="col-6">
      <div class="row">
        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="text">Title</nz-form-label>
            <nz-form-control nzErrorTip="Enter valid Title between 3 to 250 characters!">
              <input nz-input formControlName="title" placeholder="Enter Title" dir="rtl" />
            </nz-form-control>
          </nz-form-item>
        </div>
          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label nzRequired>Menu Location</nz-form-label>
              <nz-form-control nzErrorTip="Select Menu Location!">
              <nz-select formControlName="position" nzShowSearch nzAllowClear nzPlaceHolder="Choose Menu Location">
                <nz-option nzValue="HEADER" [nzLabel]="'Header'"></nz-option>
                <nz-option nzValue="FOOTER" [nzLabel]="'Footer'"></nz-option>
              </nz-select>
            </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-12">
            <nz-form-item>
              <nz-form-label>Parent Menu</nz-form-label>
              <nz-select formControlName="parentMenuId" nzShowSearch nzAllowClear nzPlaceHolder="Choose Parent Menu (Optional)">
                <nz-option *ngFor="let menu of getOtherMenus()" [nzValue]="menu?.id" [nzLabel]="menu?.title"></nz-option>
              </nz-select>
            </nz-form-item>
          </div>
          <div class="col-md-12">
            <nz-form-item>
              <nz-form-label nzRequired>Link </nz-form-label>
              <nz-form-control nzErrorTip="Enter valid URL!">
                <input formControlName="url" type="text" nz-input placeholder="Enter URL">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-12">
            <nz-form-item>
              <nz-form-control>
                <nz-switch formControlName="isActive" class="mr-3"> </nz-switch> Active
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-12">
            <nz-form-item>
              <nz-form-control>
                <button *ngIf="!menuId" class="mr-3" nz-button nzType="primary">Save</button>
                <button *ngIf="menuId" class="mr-3" nz-button nzType="primary">Update</button>
                <button nz-button nzType="default" (click)="cancel()">Cancel</button>
              </nz-form-control>
            </nz-form-item>
          </div>
      </div>
        </div>
      </div>
    </form>
  </div>
</section>