<section>
    <br>
    <br>
    <div class="col-12" *ngIf="!loader">
        <form nz-form [formGroup]="newsForm" [nzLayout]="'vertical'" (ngSubmit)="saveNews()">
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <div class="col-md-12">
                            <nz-form-item>
                                <nz-form-label>Date</nz-form-label>
                                <nz-form-control>
                                    <nz-date-picker formControlName="date" class="w-100" nzShowTime nzDisabled="true">
                                    </nz-date-picker>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col-md-12">
                            <nz-form-item>
                                <nz-form-label nzRequired>Title</nz-form-label>
                                <nz-form-control nzErrorTip="Enter valid Title between 3 to 250 characters!">
                                    <input type="text" formControlName="title" placeholder="Enter Title" dir="rtl"
                                        nz-input>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <!-- <div class="col-md-12">
                            <nz-form-item>
                                <nz-form-label nzRequired>Author Name</nz-form-label>
                                <nz-form-control nzErrorTip="Enter valid Author Name between 3 to 250 characters!">
                                    <input type="text" formControlName="authorName" placeholder="Enter Author Name" dir="rtl"
                                        nz-input>
                                </nz-form-control>
                            </nz-form-item>
                        </div> -->
                   
                    <div class="col-md-12">
                        <nz-form-item>
                            <nz-form-label nzRequired>Description</nz-form-label>
                            <nz-form-control nzErrorTip="Enter Description maximum 1500 characters allowed!">
                                <!-- <ng-container *ngIf="tinyConfig">
                                    <tiny-editor [formField]="newsForm"></tiny-editor>
                                </ng-container> -->
                                <editor formControlName="content" [init]="tinyConfig"></editor>

                                <!-- <editor [config]="tinyConfig" formControlName="content" [editor]="Editor" data="<p>Hello, world!</p>"></editor> -->
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-6">
                        <dynamic-file-selector 
                        [title]="'Upload Media'" 
                        [field]="tempFile"
                        [customDiv]="'mainFile'"
                        [formField]="newsForm" 
                        (onFileRemove)="reset($event)" 
                        (onFileSelection)="mainFileSelection($event)" 
                        (onFileUpload)="mainFileUploaded($event)" 
                        >
                            <div mainFile class="mt-2" >
                                <img *ngIf="newsModel?.fileUrl" class="mt-2" width="50%" height="50%"
                                [src]="newsModel?.fileUrl">                           
                                <video *ngIf="newsModel?.videoUrl" id="video1" class="img" style="width:50%; height:50%;" controls>
                                    <source [src]="newsModel?.videoUrl">
                                  </video>
                                <br>
                                <!-- <i style="cursor: pointer; font-size: 18px;" nz-icon nzType="delete" nzTheme="outline" (click)="removePicture()"></i> -->
                              </div>
                        </dynamic-file-selector>                        
                        <!-- <nz-form-item>
                           
                            <nz-form-label>
                                <h4>Upload Media</h4>
                            </nz-form-label>
                            <nz-form-control>
                                <nz-form-label>Video Or Image Upload</nz-form-label>
                                <input #myInput (change)="fileRead($event)" formControlName="file" type="file"
                                    accept="jpg jpeg png gif mp4" />
                            </nz-form-control>
                            <span *ngIf="uploadProgress" class="ml-4 mt-1">File Uploading Progress
                                :{{uploadProgress}}%</span>
                            <img *ngIf="newsModel?.fileUrl" class="mt-2" width="40%" height="40%"
                                [src]="newsModel?.fileUrl">                           
                                <video *ngIf="newsModel?.videoUrl" id="video1" class="img" style="width:80%; height:370px;" controls>
                                    <source [src]="newsModel?.videoUrl">
                                  </video>
                        </nz-form-item>
                        <div *ngIf="file && !uploadProgress" style="color: Crimson;">Click upload button to upload Image!</div>
                        <button class="mr-2" *ngIf="file && uploadProgress!==100" (click)="[getCaptcha($event),uploadFile()]">Upload</button>
                        <button *ngIf="file" (click)="[getCaptcha($event),reset()]">Reset</button> -->
                    </div>
                    <!-- [ngClass]="newsModel?.contentType && newsModel?.contentType==='VIDEO' ? '' : 'disable-div'" -->
                    <div class="col-md-6" [ngClass]="newsModel?.contentType && newsModel?.contentType==='VIDEO' ? '' : 'disable-div'">
                        <dynamic-file-selector 
                        [customDiv]="'thumbnail'" 
                        [title]="'Thumbnail Image'" 
                        [field]="tempThumbanilFile"
                        [fileTypes]="'image/png image/jpg image/jpeg image/gif'"
                        [formField]="newsForm" 
                        (onFileSelection)="thumbnailFileSelection($event)"
                        (onFileRemove)="resetThumbnail($event)" 
                        (onFileUpload)="thumbnailUploaded($event)" 
                        >
                            <div thumbnail class="mt-2" >
                                <img *ngIf="newsModel?.thumbnailUrl" class="mt-2" width="40%" height="40%"
                                [src]="newsModel.thumbnailUrl">                                                          
                                <br>
                                <!-- <i style="cursor: pointer; font-size: 18px;" nz-icon nzType="delete" nzTheme="outline" (click)="removePicture()"></i> -->
                              </div>
                        </dynamic-file-selector>
                    </div>
                </div>
                    <nz-card class="bg-white mt-2">
                        <!-- <div class="m-t-40"> -->
                        <h4>10 Comments</h4>
                        <!-- [nzPagination]="pagination" -->
                        <nz-list [nzDataSource]="commentListData" [nzRenderItem]="comment" [nzItemLayout]="'vertical'">
                            <ng-template #comment let-item>
                                <!-- [nzActions]="[action]" -->
                                <nz-list-item class="d-block" [nzContent]="item.comment">
                                    <!-- [nzAvatar]="item.img" -->
                                    <nz-list-item-meta [nzTitle]="commentTitle" [nzDescription]="item.date">
                                        <ng-template #commentTitle>
                                            <a class="font-size-15" href="">{{item.name}}</a>
                                        </ng-template>
                                    </nz-list-item-meta>
                                </nz-list-item>
                            </ng-template>
                            <nz-form-item>
                                <!-- <nz-form-label>title</nz-form-label> -->
                                <textarea type="text" style="min-height:150px;" placeholder="Write a comment..."
                                    nz-input></textarea>
                                <button class="mr-3" style="position: absolute; right: 0px;bottom:10px" nz-button
                                    nzType="primary" (click)="getCaptcha($event)">Add Comment</button>
                            </nz-form-item>
                            <!-- <ng-template #pagination>
                <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
            </ng-template> -->
                        </nz-list>
                        <!-- </div> -->
                    </nz-card>
                </div>
                <div class="col-4 ">
                    <div>
                        <h4>General Settings</h4>
                        <nz-form-item>
                            <nz-form-control>
                                <nz-switch formControlName="isActive"> </nz-switch> Active
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-control>
                                <nz-switch formControlName="isPro"> </nz-switch> Pro News
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <!-- do not remove this section  -->
                    <!-- <div>
                        <h4 class="mb-2">Sharing Settings</h4>
                        <nz-form-item>
                            <nz-form-control>
                                <button class="mr-3" nz-button nzType="default" (click)="enableDisable($event)">Push Notification</button>
                                <button class="mr-3" nz-button nzType="default" (click)="enableDisable($event)">Twitter</button>
                                <button class="mr-3" nz-button nzType="default" (click)="enableDisable($event)">Facebook</button>
                            </nz-form-control>
                        </nz-form-item>
                    </div> -->
                    <div>
                        <nz-form-item>
                            <nz-form-label nzRequired>Catogory</nz-form-label>
                            <nz-form-control nzErrorTip="Select Catogory!">
                                <nz-tree-select formControlName="categoryIds" [nzNodes]="strucCategories"
                                    (ngModelChange)="onChange($event)" nzShowSearch nzCheckable
                                    [nzDisabled]="!strucCategories" nzPlaceHolder="Select Catogory">
                                </nz-tree-select>
                                <!-- <div *ngIf="strucCategories && ((!selectedCat || selectedCat.length===0) && submitted===true)" style="color: Crimson;">
                                    Select Catogory!
                                </div> -->
                            </nz-form-control>
                            <div *ngIf="!strucCategories">
                                <button class="mt-3" (click)="[getCaptcha($event),addNewCategory()]" nz-button
                                    nzType="default">Add Category</button>
                            </div>
                        </nz-form-item>
                    </div>
                    <!-- tags -->
                    <div>
                        <nz-form-item>
                            <nz-form-label nzRequired>Tags</nz-form-label>
                            <nz-form-control nzErrorTip="Select Tag!">
                                <nz-select (keyup)="getTags($event.target.value)" [nzSize]="size"
                                    formControlName="tagsIds" nzMode="multiple" nzPlaceHolder="Select Tag">
                                    <nz-option *ngFor="let option of allTags" [nzLabel]="option.title"
                                        [nzValue]="option.id"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <form [formGroup]="tagForm" nz-form [nzLayout]="'horizontal'">
                            <div class="d-flex">
                                <nz-form-item class="w-100">
                                    <nz-form-control nzErrorTip="Enter Tag!">
                                        <input type="text" formControlName="title" placeholder="Enter Tag" dir="rtl"
                                            nz-input>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <button class="ml-2" (click)="[getCaptcha($event),addNewTag()]" nz-button nzType="default">Create</button>
                                </nz-form-item>
                            </div>
                        </form>
                    </div>
                    <!-- quotes -->
                    <div>

                        <nz-form-item>
                            <nz-form-label nzRequired>Related Quotes</nz-form-label>
                            <nz-form-control nzErrorTip="Select Quote!">
                                <nz-select (keyup)="getAllQuotes($event.target.value)" formControlName="quotesIds"
                                    [nzSize]="size" nzMode="multiple" nzPlaceHolder="Select Quote">
                                    <nz-option *ngFor="let option of allQuotes" [nzLabel]="option.quoteSymbol"
                                        [nzValue]="option.quoteTickerId"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <!-- <form [formGroup]="quotesForm" nz-form [nzLayout]="'horizontal'">
                            <div class="d-flex">
                                <nz-form-item class="w-100">
                                    <nz-form-control nzErrorTip="Enter Quote without spaces!">
                                        <input type="text" formControlName="name" placeholder="Enter Quote" dir="rtl"
                                            nz-input>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <button  (click)="[getCaptcha($event),addNewQuote()]" class="ml-2" nz-button nzType="default">Create</button>
                                </nz-form-item>
                            </div>
                        </form> -->
                    </div>
                    <div class="mb-4">
                        <h4 class="mb-2">SEO Settings</h4>
                        <nz-form-item>
                            <nz-form-label nzRequired>Slug Line</nz-form-label>
                            <nz-form-control nzErrorTip="Enter Slug Line maximum 250 characters allowed!">
                                <input type="text" formControlName="slugLine" placeholder="Enter Slug Line" dir="rtl"
                                    nz-input>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzRequired>Title</nz-form-label>
                            <nz-form-control nzErrorTip="Enter Title between 3 to 250 characters!">
                                <input type="text" formControlName="seoTitle" placeholder="Enter Title" dir="rtl"
                                    nz-input>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzRequired>Description</nz-form-label>
                            <nz-form-control nzErrorTip="Enter Description maximum 250 characters allowed!">
                                <textarea rows="4" formControlName="description" type="text"
                                    placeholder="Enter Description" dir="rtl" nz-input></textarea>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label nzRequired>Keywords</nz-form-label>
                            <nz-form-control nzErrorTip="Enter Keywords!"
                                nzExtra="Enter keywords seperated by a comma (,) .">
                                <input formControlName="keywords" type="text" placeholder="Enter Keywords" dir="rtl"
                                    nz-input>
                            </nz-form-control>
                        </nz-form-item>

                    </div>
                </div>
            </div>
            <nz-form-item>
                <nz-form-control [nzSpan]="14">
                    <button *ngIf="!newsId" class="mr-3" nz-button nzType="primary" [nzLoading]="isLoading">Save</button>
                    <button *ngIf="newsId" class="mr-3" nz-button nzType="primary" [nzLoading]="isLoading">Update</button>
                    <button (click)="[getCaptcha($event),cancel()]" nz-button nzType="default">Cancel</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>

    <div *ngIf="isVisible">
        <tiny-file-modal (onSelectFile)="fileFromModal($event)" [isVisible]="isVisible" (closeModal)="closeModal($event)">
        </tiny-file-modal>
    </div>
    
</section>