<section>
    <br>
    <br>
    <div class="col-12">
        <form nz-form [formGroup]="newsForm" [nzLayout]="'vertical'" (ngSubmit)="saveNews()">
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <div class="col-md-12">
                            <nz-form-item>
                                <nz-form-label>Date</nz-form-label>
                                <nz-form-control>
                                    <nz-date-picker class="w-100" nzShowTime nzDisabled="true"></nz-date-picker>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col-md-12">
                            <nz-form-item>
                                <nz-form-label>Title</nz-form-label>
                                <nz-form-control nzErrorTip="Please input Title!">
                                    <input type="text" formControlName="title" placeholder="Enter Title" dir="rtl"
                                        nz-input>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <nz-form-item>
                            <nz-form-label>Description</nz-form-label>
                            <nz-form-control>
                                <ckeditor  [config]="config" formControlName="content" [editor]="Editor" data="<p>Hello, world!</p>">
                                </ckeditor>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <nz-form-item>
                            <!-- <dynamic-file-selector></dynamic-file-selector> -->
                            <!-- <shared-file-uploader [title]="'Select Image/Video'" [btnLable]="'Upload'" [fileTypes]="'image/png, image/jpeg, image/jpg,video/mp4'"></shared-file-uploader> -->
                            <!-- <app-file-uploader [fileLimit]="1" [fileTypes]="'image/png, image/jpeg, image/jpg,video/mp4'"
                                (onFileSelection)="fileSelection($event)"></app-file-uploader> -->

                            <!-- <shared-file-uploader></shared-file-uploader> -->
                            <nz-form-label>Upload Media</nz-form-label>
                             <nz-form-control>
                                <nz-form-label>Video Or Image Upload</nz-form-label>
                                 <input #myInput (change)="fileRead($event)" formControlName="file" type="file" accept="jpg jpeg png gif" />
                                 <span>Maximum file size 2MB</span>
                             </nz-form-control>
                             <span *ngIf="uploadProgress" class="ml-4 mb-2">File Uploading Progress :{{uploadProgress}}%</span>
                            <img *ngIf="newsModal?.fileUrl" width="40%"  height="40%" [src]="newsModal?.fileUrl">
                        </nz-form-item>
                        <button class="mr-2" *ngIf="file" (click)="[getCaptcha($event),uploadFile()]">Upload</button>
                        <button *ngIf="file" (click)="[getCaptcha($event),reset()]">Reset</button>
                    </div>
                    <!-- <div class="col-sm-12 col-md-6">
                        <nz-form-item>                          
                            <nz-form-label>Thumbnail Image</nz-form-label>
                             <nz-form-control>
                                <nz-form-label>Thumbnail Image Upload</nz-form-label>
                                 <input (change)="fileRead($event)" formControlName="file" type="file" accept="jpg jpeg png gif" />
                                 <span>Maximum file size 2MB</span>
                             </nz-form-control>
                             <span *ngIf="uploadProgress" class="ml-4 mb-2">File Uploading Progress :{{uploadProgress}}%</span>
                            <img *ngIf="newsModal?.fileUrl" width="40%"  height="40%" [src]="newsModal?.fileUrl">
                        </nz-form-item>
                        <button *ngIf="file" (click)="[getCaptcha($event),uploadFile()]">Upload</button>
                    </div> -->
                    <!-- <div class="col-md-12">
                    
                    <nz-card>
                        <nz-upload
                        nzAction="https://jsonplaceholder.typicode.com/posts/"
                        nzListType="picture-card"
                        [(nzFileList)]="fileList"
                        [nzShowButton]="fileList.length < 15"
                        [nzPreview]="handlePreview">
                        <i nz-icon nzType="plus"></i>
                        <div class="ant-upload-text">Upload</div>
                    </nz-upload>
                    <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
                        <ng-template #modalContent>
                            <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
                        </ng-template>
                    </nz-modal>
                </nz-card>
                
            </div> -->



                    <nz-card class="bg-white">
                        <!-- <div class="m-t-40"> -->
                        <h4>10 Comments</h4>
                        <!-- [nzPagination]="pagination" -->
                        <nz-list [nzDataSource]="commentListData" [nzRenderItem]="comment" [nzItemLayout]="'vertical'">
                            <ng-template #comment let-item>
                                <!-- [nzActions]="[action]" -->
                                <nz-list-item class="d-block" [nzContent]="item.comment">
                                    <!-- [nzAvatar]="item.img" -->
                                    <nz-list-item-meta [nzTitle]="commentTitle" [nzDescription]="item.date">
                                        <ng-template #commentTitle>
                                            <a class="font-size-15" href="">{{item.name}}</a>
                                        </ng-template>
                                    </nz-list-item-meta>
                                </nz-list-item>
                            </ng-template>
                            <nz-form-item>
                                <!-- <nz-form-label>title</nz-form-label> -->
                                <textarea type="text" style="min-height:150px;" placeholder="Write a comment..."
                                    nz-input></textarea>
                                <button class="mr-3" style="position: absolute; right: 0px;bottom:10px" nz-button
                                    nzType="primary">Add Comment</button>
                            </nz-form-item>
                            <!-- <ng-template #pagination>
                <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
            </ng-template> -->
                        </nz-list>
                        <!-- </div> -->
                    </nz-card>
                </div>
                <div class="col-4 ">
                    <div>
                        <h4>General Settings</h4>
                        <nz-form-item>
                            <nz-form-control>
                                <nz-switch formControlName="isActive"> </nz-switch> Active
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-control>
                                <nz-switch formControlName="isPro"> </nz-switch> Pro News
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div>
                        <h4 class="mb-2">Sharing Settings</h4>
                        <nz-form-item>
                            <nz-form-control>
                                <button class="mr-3" nz-button nzType="default">Push Notification</button>
                                <button class="mr-3" nz-button nzType="default">Twitter</button>
                                <button class="mr-3" nz-button nzType="default">Facebook</button>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div>
                        <nz-form-item>
                            <nz-form-label>Catogory</nz-form-label>
                            <nz-form-control>
                                <nz-tree-select *ngIf="strucCategories" formControlName="categoryIds"
                                    style="width: 250px" [nzNodes]="strucCategories" (ngModelChange)="onChange($event)"
                                    nzShowSearch nzCheckable nzPlaceHolder="Please select">
                                </nz-tree-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <!-- tags -->
                    <div>
                        <nz-form-item>
                            <nz-form-label>Tags</nz-form-label>
                            <nz-form-control>
                                <nz-select (keyup)="getTags($event.target.value)" [nzSize]="size" formControlName="tagsIds" nzMode="multiple"
                                    nzPlaceHolder="Please select">
                                    <nz-option *ngFor="let option of allTags" [nzLabel]="option.title"
                                        [nzValue]="option.id"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <div class="d-flex w-100" [formGroup]="tagForm" (ngSubmit)="[]">
                            <nz-form-item>
                                <input type="text" formControlName="title" placeholder="Enter Tag" dir="rtl" nz-input>
                            </nz-form-item>
                            <nz-form-item>
                                <button class="mr-3" (click)="[getCaptcha($event),addNewTag()]" nz-button nzType="default">Create</button>
                            </nz-form-item>
                        </div>
                    </div>
                    <!-- quotes -->
                    <div>

                        <nz-form-item>
                            <nz-form-label>Related Quotes</nz-form-label>
                            <nz-form-control>
                                <nz-select (keyup)="getAllQuotes($event.target.value)" formControlName="quotesIds"
                                    [nzSize]="size" nzMode="multiple" nzPlaceHolder="Please select">
                                    <nz-option *ngFor="let option of allQuotes" [nzLabel]="option.name"
                                        [nzValue]="option.id"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <form [formGroup]="quotesForm" nz-form [nzLayout]="'horizontal'">
                            <div class="d-flex w-100">
                                <nz-form-item>
                                    <nz-form-control nzErrorTip="Please input valid Quote without spaces!">
                                    <input type="text" formControlName="name" placeholder="Enter Quote" dir="rtl" nz-input>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <button  (click)="[getCaptcha($event),addNewQuote()]" class="mr-3" nz-button nzType="default">Create</button>
                                </nz-form-item>
                            </div>
                        </form>
                    </div>
                    <div class="mb-4">

                        <h4 class="mb-2">SEO Settings</h4>
                        <nz-form-item>
                            <nz-form-label>Slug Line</nz-form-label>
                            <nz-form-control>
                                <input type="text" formControlName="slugLine" placeholder="Enter Slug Line" dir="rtl"
                                    nz-input>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label>Title</nz-form-label>
                            <nz-form-control>
                                <input type="text" formControlName="seoTitle" placeholder="Enter Title" dir="rtl"
                                    nz-input>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label>Description</nz-form-label>
                            <nz-form-control>
                                <textarea rows="4" formControlName="description" type="text"
                                    placeholder="Enter Description" dir="rtl" nz-input></textarea>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-label>Keyords</nz-form-label>
                            <nz-form-control nzExtra="Enter keywords seperated by a comma (,) .">
                                <input formControlName="keywords" type="text" placeholder="Enter Keywords" dir="rtl"
                                    nz-input>
                            </nz-form-control>
                        </nz-form-item>

                    </div>
                </div>
            </div>
            <nz-form-item>
                <nz-form-control [nzSpan]="14">
                    <button *ngIf="!newsId" class="mr-3" nz-button nzType="primary">Save</button>
                    <button *ngIf="newsId" class="mr-3" nz-button nzType="primary">Update</button>
                    <button (click)="[getCaptcha($event),cancel()]" nz-button nzType="default">Cancel</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</section>