<!-- <button class="btn btn-primary"  (click)="fileSelector()" >Profile Picture</button> -->
<ng-container>
<div [formGroup]="formField">
  <!-- <label class="col-form-label" for="{{field.colName}}">{{field.label}}</label> -->
  <!-- <button *ngIf="field.properties?.fileData?.path" title="{{field.label}}" class="ml-3 float-right btn btn-success waves-effect btn-circle waves-light"
    type="button" (click)="fileSelector()">
    <i class="mdi mdi-upload"></i>
  </button> -->
<!-- <button  type="button" (click)="fileSelector()" class="ml-3 form-control2">
  Choose File<i class="ml-1 mdi mdi-upload"></i>
  </button>  -->
<!-- {{field | json}} -->
  <!-- <i class="mdi mdi-upload ml-2" role="button" title="Profile Picture" (click)="fileSelector()"></i> -->
  
  <!-- <input style="display: none;"  name="{{field.colName}}" [formControlName]="field.colName"  #imageSelector placeholder="{{field.label}}" type="file" (change)="fileRead($event)"
    accept="{{fileTypes}}" class="form-control" [id]="field.colName"> -->
    <nz-form-item>
    <nz-form-label nzRequired>Upload Media</nz-form-label>
    <nz-form-control nzErrorTip="Please Choose Image!">
       <nz-form-label>{{title}}</nz-form-label>
        <input #imageSelector (change)="fileRead($event)" [formControlName]="field.colName" type="file" accept="{{fileTypes}}"  />
        <!-- <span>Maximum file size 2MB</span> -->
    </nz-form-control>
  </nz-form-item>
</div>
</ng-container>
<!-- <br> -->

<div class="mt-2" *ngIf="(mediaObj && mediaObj.name)">
  
  <!-- <img style="height: 40px;" src="{{mediaObj.src}}">{{mediaObj && mediaObj.name ? mediaObj.name:''}} -->
  <!-- <button title="Delete" class="ml-3 btn btn-success waves-effect btn-circle waves-light" type="button"
    (click)="removePicture()"> <i nz-icon nzType="delete" nzTheme="outline" (click)="removePicture()"></i>
  </button> -->
  <i style="cursor: pointer; font-size: 18px;" nz-icon nzType="delete" nzTheme="outline" (click)="removePicture()"></i>
  <!-- <i class="ti ti-trash text-danger" role="button" title="Remove" (click)="removePicture()"></i> -->
</div>
<div *ngIf="mediaObj">
  {{this.mediaObj.name}}
</div>
<!-- {{field | json}} -->
<!-- <div *ngIf="!mediaObj.name"><i class="fa fa-download" (click)="downloadResume(field?.properties?.fileData?.path)"></i></div> -->

<div *ngIf="error">
    <span class="text-danger">{{error}}</span>
</div>
