<!-- <button class="btn btn-primary"  (click)="fileSelector()" >Profile Picture</button> -->
<ng-container>
<div [formGroup]="formField">
    <nz-form-item>
      <nz-form-label>
        <h4>{{title}}</h4>
    </nz-form-label>    
    <nz-form-control nzErrorTip="Choose File!">
       <nz-form-label>{{field.label}}</nz-form-label>
        <input #imageSelector (change)="fileRead($event)" [formControlName]="field.colName" type="file" accept="{{fileTypes}}"  />
        <span *ngIf="uploadProgress && uploadProgress<100" class="ml-4 mt-1">File Uploading Progress
          :{{uploadProgress}}%</span>
        <!-- <span>Maximum file size 2MB</span> -->
    </nz-form-control>
  </nz-form-item>
</div>
</ng-container>
<!-- <br> -->
<ng-content [select]="[customDiv]"></ng-content>
<!-- <div class="mt-2" *ngIf="(mediaObj && mediaObj.name) && uploadProgress==100">
  <img *ngIf="mediaObj?.type!='video'"  width="40%" height="40%" src="{{mediaObj.src}}">
  <video *ngIf="mediaObj?.type=='video' && mediaObj?.src" id="video1" width="60%" height="60%" class="img"  controls>
    <source [src]="mediaObj?.src">
  </video>
</div> -->
<br>
<i *ngIf="(mediaObj && mediaObj.name) && uploadProgress==100" style="cursor: pointer; font-size: 18px;" nz-icon nzType="delete" nzTheme="outline" (click)="removePicture()"></i>

<div *ngIf="field.value && !uploadProgress" style="color: Crimson;">Click upload button to upload Image!</div>
                        <button class="mr-2" *ngIf="field.value && uploadProgress!==100" (click)="[getCaptcha($event),uploadFile()]">Upload</button>
<div *ngIf="error">
    <span class="text-danger">{{error}}</span>
</div>
