<section>
  <br>
  <br>
  <div class="col-12">
    <form nz-form [nzLayout]="'vertical'">
      <div class="row">
        <div class="col-8">
          <div class="row">
            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label>Title </nz-form-label>
                <nz-form-control>
                  <input type="text" nz-input placeholder="Enter Title">
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label>Job Position</nz-form-label>
                <nz-form-control>
                  <input type="text" nz-input placeholder="Enter Job Position">
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <nz-form-item>
                <nz-form-label>Description</nz-form-label>
                <nz-form-control>
                  <ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>
             </nz-form-control>
            </nz-form-item>
            </div>
            <!-- <div class="col-md-6">

            </div> -->
          </div>
          <div class="row">
            <div class="col-md-6">
              <nz-form-item>
                <h4>Profile Image</h4>
                <nz-form-label>Image Upload</nz-form-label>
                <!-- <nz-form-control>
                  <input type="file" nz-input placeholder="Enter Password">
                </nz-form-control> -->
                <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
                  <button nz-button>
                    <i nz-icon nzType="upload"></i>
                    Select File
                  </button>
                </nz-upload>
                <!-- <button
                  nz-button
                  [nzType]="'primary'"
                  [nzLoading]="uploading"
                  (click)="handleUpload()"
                  [disabled]="fileList.length === 0"
                  style="margin-top: 16px">
                  {{ uploading ? 'Uploading' : 'Start Upload' }}
                </button> -->
              </nz-form-item>
            </div>
            <div class="col-md-6">
              <nz-form-item>
                <h4>Social Media</h4>
                <nz-form-label>Twitter Profile</nz-form-label>
                <input type="password" nz-input placeholder="Enter Link">
              </nz-form-item>
            </div>
          </div>
        </div>
        <div class="col-4">
          <h4>General Settings</h4>
          <nz-form-item>
            <nz-form-control>
              <nz-switch class="mr-3"> </nz-switch> Active
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <nz-form-item>
        <nz-form-control [nzSpan]="14">
          <button class="mr-3" nz-button nzType="primary">Save</button>
          <button nz-button nzType="default">Cancel</button>
        </nz-form-control>
      </nz-form-item>
    </form>

  </div>

</section>
