<section>
  <br>
  <br>
  <div *ngIf="!loader" class="col-12">
    <form [formGroup]="presenterForm" nz-form [nzLayout]="'vertical'" (ngSubmit)="presenters()">
      <div class="row">
        <div class="col-8">
          <div class="row">
            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label nzRequired>Title </nz-form-label>
                <nz-form-control nzErrorTip="Enter Title!">
                  <input type="text" formControlName="name" nz-input placeholder="Enter Title">
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label nzRequired>Job Position</nz-form-label>
                <nz-form-control nzErrorTip="Enter Job Position!">
                  <input type="text" formControlName="jobPosition" nz-input placeholder="Enter Job Position">
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label nzRequired>Age </nz-form-label>
                <nz-form-control nzErrorTip="Enter Age, only numbers allowed!">
                  <input type="text" formControlName="age" nz-input placeholder="Enter Age">
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label nzRequired>Gender</nz-form-label>
                <nz-form-control nzErrorTip="Select Gender!">
                <nz-select nzShowSearch nzAllowClear formControlName="gender" nzPlaceHolder="Select Gender">
                  <nz-option nzValue="MALE" [nzLabel]="'Male'"></nz-option>
                  <nz-option nzValue="FEMALE" [nzLabel]="'Female'"></nz-option>
                </nz-select>
              </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label nzRequired>DOB </nz-form-label>
                <nz-form-control nzErrorTip="Select DOB!">
                  <nz-date-picker formControlName="dob" style="width: 100%;"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label nzRequired>Joining Date </nz-form-label>
                <nz-form-control nzErrorTip="Select Joining Date!">
                  <nz-date-picker formControlName="joinedNetworkOn" style="width: 100%;"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <tiny-editor [label]="'Description'" [error]="'Enter Description maximum 1500 characters allowed!'" [formField]="presenterForm" [fieldName]="'description'"></tiny-editor>
                <!-- <editor formControlName="content" [init]="tinyConfig"></editor>
                <editor [config]="tinyConfig" formControlName="content" [editor]="Editor" data="<p>Hello, world!</p>"></editor> -->
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <nz-form-item>
                  <nz-form-label><h4>Profile Image</h4></nz-form-label>
                  <nz-form-control nzErrorTip="Select File!">
                  <nz-form-label nzRequired>Image Upload</nz-form-label>
                       <input #myInput (change)="fileRead($event)" formControlName="attachmentsId" type="file" accept="jpg jpeg png gif" />
                   </nz-form-control>
                   <span *ngIf="uploadProgress" class="ml-4 mt-1">File Uploading Progress :{{uploadProgress}}%</span>
                  <img *ngIf="imagePath" class="mt-2" width="40%"  height="40%" [src]="imagePath">
              </nz-form-item>
              <div *ngIf="file && !uploadProgress" style="color: Crimson;">Click upload button to Upload Image!</div>
              <button class="mr-2" *ngIf="file && uploadProgress!==100" (click)="[getCaptcha($event),uploadFile()]">Upload</button>
              <button class="mb-2" *ngIf="file" (click)="[getCaptcha($event),reset()]">Reset</button>
          </div>
            <div class="col-md-6">
              <h4>General Settings</h4>
              <nz-form-item>
                <nz-form-control>
                  <nz-switch class="mr-3" formControlName="isActive"> </nz-switch> Active
                </nz-form-control>
              </nz-form-item>
            </div>
            </div>
            <h4>Social Media</h4>
            <div class="row">
              <div class="col-md-6">
              <nz-form-item>
                <nz-form-label nzRequired>Twitter Profile</nz-form-label>
                <nz-form-control nzErrorTip="Enter Twitter Link!">
                <input type="text" formControlName="twitterLink" nz-input placeholder="Enter Twitter Link">
              </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-md-6">
              <nz-form-item>
                <nz-form-label nzRequired>Facebook Profile</nz-form-label>
                <nz-form-control nzErrorTip="Enter Facebook Link!">
                <input type="text" formControlName="facebookLink" nz-input placeholder="Enter Facebook Link">
              </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
            <nz-form-item>
              <nz-form-label nzRequired>Instagram Profile</nz-form-label>
              <nz-form-control nzErrorTip="Enter Instagram Link!">
              <input type="text" formControlName="instagramLink" nz-input placeholder="Enter Instagram Link">
            </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label nzRequired>Linkedin Profile</nz-form-label>
              <nz-form-control nzErrorTip="Enter Linkedin Link!">
              <input type="text" formControlName="linkedInLink" nz-input placeholder="Enter Linkedin Link">
            </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        </div>
      </div>
      <nz-form-item>
        <nz-form-control>
          <button *ngIf="!presenterId" class="mr-3" nz-button nzType="primary" [nzLoading]="isLoading">Save</button>
          <button *ngIf="presenterId" class="mr-3" nz-button nzType="primary" [nzLoading]="isLoading">Update</button>
          <button nz-button nzType="default" (click)="cancel()">Cancel</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</section>
