<section class="featured_news">
  <br>
  <br>
  <div class="col-12">
      <div class="row">
        <div class="col-12" cdkDropList (cdkDropListDropped)="drop($event)">
        <nz-table [nzData]="allEditorsChoice" [nzShowPagination]="false" class="no-border-last">
          <thead>
              <tr>
                  <th class="text-left" colspan="4"></th>
              </tr>
          </thead>
          <tbody *ngIf="!loading">
              <tr class="news-block" *ngFor="let news of editorsChoice" cdkDrag>
                  <!-- <td>#</td> -->
                  <!-- <td>{{news?.position}}</td> -->
                  <td>
                    <i nz-icon nzType="drag" nzTheme="outline"></i>
                </td>
                  <ng-container>
                    <news-table-row 
                    [allCategories]="allCategories" 
                    [news]="news"
                    (onNewsSelection)="changedNews($event)" 
                    (onCatSelection)="changeCategory($event)"
                    ></news-table-row>
                  </ng-container>
              </tr>
          </tbody>
      </nz-table>
        </div>
        <div class="col-md-12 mt-3">
          <nz-form-item>
            <nz-form-control>
              <button class="mr-3" nz-button nzType="primary" (click)="updateEditorsChoiceNews()">Save</button>
              <button nz-button nzType="default" (click)="cancel()">Cancel</button>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
  </div>
</section>