<div *ngIf="isVisible">
    <tiny-file-modal (onSelectFile)="fileFromModal($event)" [isVisible]="isVisible" (closeModal)="closeModal($event)">
        <div>
            <p>Select Image</p>
        </div>
    </tiny-file-modal>
</div>

<div [formGroup]="formField">
    <nz-form-item>
        <nz-form-label>{{label}}</nz-form-label>
        <nz-form-control nzErrorTip="{{error}}">
            <editor formControlName="content" [init]="tinyConfig"></editor>
        </nz-form-control>
    </nz-form-item>
</div>