
      <div class="float-right">
        <div class="d-flex">
            <nz-form-item class="mr-2">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Publisher" nzSpan="8" [(ngModel)]="filterModel.publishers">
                  <nz-option *ngFor="let admin of allAdmins" [nzValue]="admin?.id" [nzLabel]="admin?.name"></nz-option>
                </nz-select>
              </nz-form-item>
            <nz-form-item class="mr-2">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Status" nzSpan="8" [(ngModel)]="filterModel.status">
                <nz-option [nzValue]="true" [nzLabel]="'Active'"></nz-option>
                <nz-option [nzValue]="false" [nzLabel]="'InActive'"></nz-option>
              </nz-select>
            </nz-form-item>
            <nz-form-item class="mr-2">
                    <input [(ngModel)]="filterModel.title" nz-input placeholder="Search Title">
            </nz-form-item>
            <nz-form-item class="mr-2">
              <nz-form-control>
                <button nz-button (click)="search()" [nzType]="'primary'">Search</button>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <button nz-button (click)="clear()" [nzType]="'default'">Clear</button>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
          
  