
      <div class="float-right">
        <div class="d-flex">
          <nz-form-item class="mr-2">
            <nz-form-control>
              <button nz-button nzType="default">Update Schedule</button>
            </nz-form-control>
            </nz-form-item>
          </div>
            <!-- <nz-form-item>
              <nz-form-control>
                <input type="text" nz-input placeholder="Admin Name">
              </nz-form-control>
            </nz-form-item> -->
        
        </div>
          
  