
      <div class="float-right">
        <div class="d-flex">
            <nz-form-item class="mr-2">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Status" nzSpan="8" [(ngModel)]="status">
                <nz-option [nzValue]="true" [nzLabel]="'Active'"></nz-option>
                <nz-option [nzValue]="false" [nzLabel]="'InActive'"></nz-option>
              </nz-select>
            </nz-form-item>
            <nz-form-item>
                <nz-input-group>
                    <input nz-input placeholder="Search" nzSize="small">
                </nz-input-group>
                <!-- <ng-template #prefiXTemplate>
                    <i nz-icon nzType="search" theme="outline"></i>
                </ng-template> -->
            </nz-form-item>    
          </div>
          </div>
          
  