
      <div class="float-right">
        <div class="d-flex">
          <nz-form-item class="mr-2">
            <nz-form-control>
              <nz-date-picker [(ngModel)]="filterModel.date" [nzDateRender]="tplRender"></nz-date-picker>
            </nz-form-control>
      </nz-form-item>
            <nz-form-item class="mr-2">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="User" [(ngModel)]="filterModel.userId">
                <nz-option *ngFor="let admin of allAdmins" [nzValue]="admin?.id" [nzLabel]="admin?.name"></nz-option>
              </nz-select>
            </nz-form-item>
            <nz-form-item class="mr-2">
              <nz-form-control>
                <button nz-button (click)="search()" [nzType]="'primary'">Search</button>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <button nz-button (click)="clear()" [nzType]="'default'">Clear</button>
              </nz-form-control>
            </nz-form-item>
          </div>
         </div>

         <ng-template #tplRender let-current>
          <div class="ant-picker-cell-inner" [class.border]="current.getDate() === 1">
            {{ current.getDate() }}
          </div>
        </ng-template>
          
  