<div class="row">
    <div class="col-2">
        <button nz-button [nzType]="'primary'">Upload CSV</button>
    </div>
    <div class="col-10">
        <tvSchedule-filter></tvSchedule-filter>
    </div>
    <div class="col-lg-12 mt-3">
        <nz-card>
            <div>
                <nz-table #ordersListTable [nzData]="ordersList"  [nzShowPagination]="true" class="no-border-last">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Day</th>
                            <th>Time</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of ordersListTable.data">
                            <td [nzChecked]="setOfCheckedId.has(item.id)" [nzDisabled]="item.disabled"
                            (nzCheckedChange)="onItemChecked(item.id, $event)">{{item.date}}</td>
                            <td>Sunday</td>
                            <td>10:30</td>
                            <td>Program Description</td>
                            <td>
                                <div class="d-flex justify-content-between">
                                    <i nz-icon nzType="edit" nzTheme="outline" (click)="showModal()"></i>
                                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </nz-card>
    </div>
</div>

<nz-modal
      [(nzVisible)]="isVisible"
      [nzTitle]="modalTitle"
      [nzContent]="modalContent"
      [nzFooter]="null"
      (nzOnCancel)="handleCancel()"
    >
      <ng-template #modalTitle>
        Edit TV Schedule
      </ng-template>

      <ng-template #modalContent>
        <div class="col-12">
            <form nz-form [nzLayout]="'vertical'">
              <div class="row">
                <div class="col-12">
                <div class="col-12">
                  <nz-form-item>
                    <nz-form-label nzFor="date">Date</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker [nzDateRender]="tplRender"></nz-date-picker>
                        <!-- <input type="date" nz-input placeholder="Date"> -->
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="col-md-12">
                  <nz-form-item>
                    <nz-form-label>Day</nz-form-label>
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Choose Day">
                      <nz-option nzValue="Saturday" [nzLabel]="'Saturday'"></nz-option>
                      <nz-option nzValue="Sunday" [nzLabel]="'Sunday'"></nz-option>
                    </nz-select>
                  </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-item>
                      <nz-form-label nzFor="text">Time</nz-form-label>
                      <nz-form-control>
                        <nz-time-picker [(ngModel)]="time" [nzUse12Hours]="true" nzFormat="h:mm a"></nz-time-picker>
                        <!-- <input type="time" nz-input placeholder="Time"> -->
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div class="col-md-12">
                    <nz-form-item>
                      <nz-form-label nzFor="text">Description</nz-form-label>
                      <nz-form-control>
                        <input nz-input placeholder="Enter Description" dir="rtl" />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div class="col-md-12">
                    <nz-form-item>
                      <nz-form-control>
                        <button class="mr-3" nz-button nzType="primary">Save</button>
                        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
              </div>
            </form>
          </div>
      </ng-template>
    </nz-modal>
    <ng-template #tplRender let-current>
        <div class="ant-picker-cell-inner" [class.border]="current.getDate() === 1">
          {{ current.getDate() }}
        </div>
      </ng-template>
