<section>
  <br>
  <br>
  <div *ngIf="!loader" class="col-12">
    <form nz-form [formGroup]="tagsForm" [nzLayout]="'vertical'" class="tags-form" (ngSubmit)="tags()">
        <nz-form-item>
          <nz-form-label nzRequired [nzSpan]="6" nzFor="text">Title</nz-form-label>
          <nz-form-control [nzSpan]="14" nzErrorTip="Enter valid Title between 3 to 250 characters!">
            <input nz-input formControlName="title" placeholder="Enter Title" dir="rtl"  />
          </nz-form-control>
        </nz-form-item >
        <nz-form-item>
         <nz-form-control [nzSpan]="14">
            <nz-switch class="mr-3" formControlName="isActive"> </nz-switch> Active
          </nz-form-control>
        </nz-form-item >
        <nz-form-item>
          <nz-form-control [nzSpan]="14" >
            <button *ngIf="!tagId" nz-button class="tags-form-button mr-3" [nzType]="'primary'" [nzLoading]="isLoading">Save</button>
            <button *ngIf="tagId" nz-button class="tags-form-button mr-3" [nzType]="'primary'" [nzLoading]="isLoading">Update</button>
            <button nz-button nzType="default" (click)="cancel()">Cancel</button>
          </nz-form-control>
        </nz-form-item>
      </form>
  </div>
</section>