<p>QuickLink Component Works!</p>
<div class="col-lg-8">
    <nz-card>
        <div class="d-flex justify-content-between align-items-center">
            <h5>Recent Orders</h5>
            <div>
                <a nz-button nzType="default" nzSize="small">View All</a>
            </div>
        </div>
        <div class="m-t-30">
            <nz-table #ordersListTable [nzData]="ordersList"  [nzShowPagination]="false" class="no-border-last">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Customer</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of ordersListTable.data">
                        <td>#{{item.id}}</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <nz-avatar [nzSize]="30" nzIcon="user" [nzSrc]="item.avatar"></nz-avatar>
                                <h6 class="m-l-10 m-b-0">{{item.name}}</h6>
                            </div>
                        </td>
                        <td>{{item.date}}</td>
                        <td>${{item.amount | number:'3.2-5'}}</td>
                        <td>
                            <nz-badge *ngIf="item.status == 'approved'" nzStatus="success"></nz-badge>
                            <nz-badge *ngIf="item.status == 'rejected'" nzStatus="error"></nz-badge>
                            <nz-badge *ngIf="item.status == 'pending'"  nzStatus="processing"></nz-badge> 
                            <span class="text-capitalize">{{item.status}}</span>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </nz-card>
</div>