<div class="row">
    <div class="col-md-3">
        <button nz-button [nzType]="'primary'" [routerLink]="['/quickLinks/add']">Add Quick Link</button>
    </div>
    <div class="col-md-9">
        <quick-filter></quick-filter>
    </div>
    <div class="col-lg-12 mt-3">
        <nz-card>
            <div class="m-t-30">
                <nz-table [nzShowPagination]="true" class="no-border-last">
                    <thead>
                        <tr>
                            <th>Reorder</th>
                            <th>Title</th>
                            <th>Link</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let link of allQuickLinks">
                            <td></td>
                            <td>{{link?.title}}</td>
                            <td>{{link?.url}}</td>
                            <td>
                                <nz-badge *ngIf="link?.visible === true" nzStatus="success"></nz-badge>
                                <nz-badge *ngIf="link?.visible === false" nzStatus="error"></nz-badge>
                                <!-- <span class="text-capitalize">{{link.visible}}</span> -->
                            </td>
                            <td>
                                <div class="d-flex justify-content-between">
                                    <i nz-icon nzType="edit" nzTheme="outline" [routerLink]="['/quickLinks/add/' + link?.id]"></i>
                                    <i nz-icon nzType="delete" nzTheme="outline" (click)="deleteQuickLink(link?.id)"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </nz-card>
    </div>
</div>
