<div class="row">
    <div class="col-md-2">
        <button nz-button [nzType]="'primary'" [routerLink]="['/tags/add']">Add Tag</button>
    </div>
    <div class="col-md-10">
        <tag-filter (statusEmitter)="receiveStatus($event)" (filterEmitter)="receiveFilter($event)"></tag-filter>
    </div>
    <div class="col-lg-12 mt-3">
        <nz-card>
            <div>
                <div class="send-request" *ngIf="setOfCheckedId.size">
                    <button nz-button nzType="primary" [disabled]="setOfCheckedId.size === 0" [nzLoading]="loading" (click)="showDeleteConfirm()">
                      Delete Selected
                    </button>
                    <span class="ml-2">Selected {{ setOfCheckedId.size }} items</span>
                  </div>
                <nz-table [nzShowPagination]="false" [nzLoading]="loading" [nzData]="allTags" class="no-border-last">
                    <thead>
                        <tr>
                            <th [nzChecked]="checked" [nzIndeterminate]="indeterminate"
                            (nzCheckedChange)="onAllChecked($event)"></th>
                            <th>Title</th>
                            <th>Created</th>
                            <th>Modified</th>
                            <th>Publisher</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tag of allTags">
                            <td [nzChecked]="setOfCheckedId.has(tag?.id)" [nzDisabled]="tag.disabled"
                            (nzCheckedChange)="onItemChecked(tag?.id, $event)"></td>
                            <td>{{tag?.title}}</td>
                            <td>{{tag?.createdAt | date:'dd-MM-YYYY'}}</td>
                            <td>{{tag?.updatedAt | date:'dd-MM-YYYY'}}</td>
                            <td>{{tag?.publishedBy}}</td>
                            <td>
                                <nz-badge *ngIf="tag?.isActive === true" nzStatus="success"></nz-badge>
                                <nz-badge *ngIf="tag?.isActive === false" nzStatus="error"></nz-badge>
                                <!-- <span class="text-capitalize">{{item.status}}</span> -->
                            </td>
                            <td>
                                <div class="d-flex justify-content-between">
                                    <i nz-icon nzType="edit" nzTheme="outline" [routerLink]="['/tags/update/' + tag?.id]"></i>
                                    <i nz-icon nzType="delete" nzTheme="outline" (click)="showDeleteConfirm(tag?.id)"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
                <div class="text-right mt-2">
                    <nz-pagination [nzPageIndex]="pagination.pageNo" [nzTotal]="tagsCount" [nzPageSize]="pagination.limit" [nzShowSizeChanger]="true"
                    [nzResponsive]="true" (nzPageIndexChange)="onPageIndexChange($event)" (nzPageSizeChange)="onPageSizeChange($event)"></nz-pagination>
                </div>
            </div>
        </nz-card>
    </div>
</div>
