<div>
    <div>{{title ? title:'Audio'}}</div>
    <div> Max Length: {{audioLength}} {{customTimer ? 'Seconds':'Minute'}}
    <div>
      <button *ngIf="!isAudioRecording && !audioBlobUrl" (click)="startAudioRecording()" class="btn btn-primary waves-effect btn-circle waves-light" type="button"> <i class="fas fa-microphone"></i> </button>
      <button *ngIf="isAudioRecording && !audioBlobUrl && seconds >= 5" (click)="stopAudioRecording()" class="btn btn-primary waves-effect btn-circle waves-light" type="button"> <i class="fas fa-stop"></i> </button>

      <!-- <button class="start-button" *ngIf="!isAudioRecording && !audioBlobUrl" (click)="startAudioRecording()">Start Audio Recording</button> -->
      <button class="btn btn-danger btn-circle" *ngIf="!isAudioRecording && audioBlobUrl" (click)="clearAudioRecordedData()"><i class="fas fa-times"></i></button>
      <!-- <button class="btn btn-success btn-rounded" *ngIf="!isAudioRecording && audioBlobUrl" (click)="downloadAudioRecordedData()">Download Audio Recording</button>
      <button type="button" class="btn btn-primary"><i class="fa fa-check"></i> Primary</button> -->
      <div class="d-flex">
        <div id="audioTimer" *ngIf="isAudioRecording && !audioBlobUrl"> {{ audioRecordedTime }} </div>
        <audio *ngIf="!isAudioRecording && audioBlobUrl"  controls>
          <source [src]="audioBlobUrl" type="audio/mp3">
        </audio>
      </div>
    </div>
  </div>
  <div>