<section>
  <br>
  <br>
  <div class="col-12">
    <form nz-form [nzLayout]="'vertical'">
      <div class="row">
        <div class="col-12">
          <div class="row">
          <div class="col-12">
            <nz-form-item>
              <nz-form-control [nzSpan]="14">
                <strong>Asia</strong> <nz-switch class="ml-5"> </nz-switch> 
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-12">
            <nz-form-item>
              <nz-form-control [nzSpan]="14">
                <strong>Europe</strong> <nz-switch class="ml-4"> </nz-switch> 
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-12">
            <nz-form-item>
              <nz-form-control [nzSpan]="14">
                <strong>US</strong> <nz-switch class="ml-5"> </nz-switch> 
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        </div>
      </div>
    </form>
  </div>
</section>