.sidebar{
    border-bottom: 4px solid #071D39;
    padding-bottom: 5px;
}
.sidebar .themeTitle{
    border-top:1px solid #777777;
    padding-top: 5px;
}
.sidebar .themeTitle h4{
    display: inline-block;
    border-top: 6px solid #0089D0;
    padding-top: 10px;
    margin-top: -8px;
    color: #002F6C;
}
.sidebar .listBody{
    padding: 5px;
    max-height: 550px;
    overflow-y: auto;
}
.sidenumberList{
    margin: 0;
    padding: 0 15px 0 0;
}
.sidenumberList li {
    border-bottom: 1px solid #DDDDDD;
    color: #FCB700;
    font-size: 16px;
}
.sidenumberList li:last-child {
    border-bottom: none;
}
.sidenumberList li a{
    font-size: 13px;
    font-weight: bold;
    color: #1C1C1C;
    padding: 20px 0;
    display: block;
    text-decoration: none;
}
.sidenumberList li a:hover{
    color: #002F6C;
}
.sidenumberList li a span{
    color: #777777;
    display: block;
    margin-bottom: 5px;
}

.sidesimpleList{
    margin: 0;
    padding: 0px;
    list-style: none;
}
.sidesimpleList li {
    border-bottom: 1px solid #DDDDDD;
    color: #FCB700;
    font-size: 16px;
}
.sidesimpleList li:last-child {
    border-bottom: none;
}
.sidesimpleList li a{
    font-size: 13px;
    font-weight: bold;
    color: #1C1C1C;
    padding: 20px 0;
    display: block;
    text-decoration: none;
}
.sidesimpleList li a:hover{
    color: #002F6C;
}
.sidesimpleList li a span{
    color: #777777;
    display: block;
    margin-bottom: 5px;
}