<section>
  <br>
  <br>
  <div class="col-12">
    <form nz-form [formGroup]="pagesForm" [nzLayout]="'vertical'" (ngSubmit)="pages()">
      <div class="row">
        <div class="col-6">
      <div class="row">
        <div class="col-12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="text">Title</nz-form-label>
            <nz-form-control nzErrorTip="Enter valid Title between 3 to 250 characters!">
              <input nz-input  formControlName="title" placeholder="Enter Title" dir="rtl" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <nz-form-item>
            <nz-form-label nzRequired>Description</nz-form-label>
            <nz-form-control nzErrorTip="Enter Description maximum 1500 characters allowed!">
              <ckeditor  formControlName="content" [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>
            </nz-form-control>
        </nz-form-item>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <nz-form-item>
            <nz-form-control>
              <nz-switch class="mr-3"  formControlName="showSideBar"> </nz-switch> <strong>Enable Default Sidebar</strong>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
        <div class="col-6">
          <div class="row">
            <div class="col-md-12">
              <nz-form-item>
                <h4>General Settings</h4>
                <nz-form-control>
                  <nz-switch class="mr-3"  formControlName="isActive"> </nz-switch> Active
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4 class="mb-2">Sharing Settings</h4>
            <nz-form-item>
                <nz-form-control>
                    <button class="mr-3" nz-button nzType="default">Push Notification</button>
                    <button class="mr-3" nz-button nzType="default">Twitter</button>
                    <button class="mr-3" nz-button nzType="default">Facebook</button>
                </nz-form-control>
            </nz-form-item>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <nz-form-item>
                <nz-form-label nzRequired>Tags</nz-form-label>
                <nz-form-control nzErrorTip="Select Tag!">
                    <nz-select (keyup)="getTags($event.target.value)" [nzSize]="size" formControlName="tagsIds" nzMode="multiple"
                        nzPlaceHolder="Select Tag">
                        <nz-option *ngFor="let tag of allTags" [nzLabel]="tag?.title"
                            [nzValue]="tag?.id"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
                <form [formGroup]="tagForm" nz-form [nzLayout]="'horizontal'">
                  <div class="d-flex">
                      <nz-form-item class="w-100">
                          <nz-form-control nzErrorTip="Enter Tag!">
                          <input type="text" formControlName="title" placeholder="Enter Tag" dir="rtl" nz-input>
                      </nz-form-control>
                      </nz-form-item>
                      <nz-form-item>
                          <button class="ml-2" (click)="[getCaptcha($event),addNewTag()]" nz-button nzType="default">Create</button>
                      </nz-form-item>
                  </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <nz-form-item>
                <nz-form-label nzRequired>Related Quotes</nz-form-label>
                <nz-form-control nzErrorTip="Select Quote!">
                    <nz-select (keyup)="getAllQuotes($event.target.value)" formControlName="quotesIds"
                        [nzSize]="size" nzMode="multiple" nzPlaceHolder="Select Quote">
                        <nz-option *ngFor="let option of allQuotes" [nzLabel]="option.name"
                            [nzValue]="option.id"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <form [formGroup]="quotesForm" nz-form [nzLayout]="'horizontal'">
              <div class="d-flex">
                  <nz-form-item class="w-100">
                      <nz-form-control nzErrorTip="Enter Quote without spaces!">
                      <input type="text" formControlName="name" placeholder="Enter Quote" dir="rtl" nz-input>
                      </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                      <button  (click)="[getCaptcha($event),addNewQuote()]" class="ml-2" nz-button nzType="default">Create</button>
                  </nz-form-item>
              </div>
          </form>
            </div>
          </div>
          <div class="rwo">
            <div class="col-md-12">
              <div class="mb-4">
                <h4 class="mb-2">SEO Settings</h4>
                <nz-form-item>
                    <nz-form-label nzRequired>Slug Line</nz-form-label>
                    <nz-form-control nzErrorTip="Enter Slug Line maximum 250 characters allowed!">
                        <input type="text" formControlName="slugLine" placeholder="Enter Slug Line" dir="rtl"
                            nz-input>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzRequired>Title</nz-form-label>
                    <nz-form-control nzErrorTip="Enter Title between 3 to 250 characters!">
                        <input type="text" formControlName="seoTitle" placeholder="Enter Title" dir="rtl"
                            nz-input>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzRequired>Description</nz-form-label>
                    <nz-form-control nzErrorTip="Enter Description maximum 250 characters allowed!">
                        <textarea rows="4" formControlName="description" type="text"
                            placeholder="Enter Description" dir="rtl" nz-input></textarea>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzRequired>Keywords</nz-form-label>
                    <nz-form-control nzErrorTip="Enter Keywords!" nzExtra="Enter keywords seperated by a comma (,) .">
                        <input formControlName="keywords" type="text" placeholder="Enter Keywords" dir="rtl"
                            nz-input>
                    </nz-form-control>
                </nz-form-item>
            </div>
            </div>
          </div>
      </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-md-12">
              <nz-form-item>
                <nz-form-control>
                  <button class="mr-3" nz-button nzType="primary">Save</button>
                  <button (click)="[getCaptcha($event),cancel()]" nz-button nzType="default">Cancel</button>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>