<section>
  <br>
  <br>
  <div class="col-12">
    <form nz-form [nzLayout]="'vertical'">
      <div class="row">
        <div class="col-6">
      <div class="row">
        <div class="col-12">
          <nz-form-item>
            <nz-form-label nzFor="text">Title</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="Enter Title" dir="rtl" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <nz-form-item>
            <nz-form-label>Description</nz-form-label>
            <nz-form-control>

                <!-- formControlName="description" -->
                <quill-editor [style]="{height: '500px', background:'white'}" [modules]="editorConfig">
                </quill-editor>

            </nz-form-control>
        </nz-form-item>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <nz-form-item>
            <!-- <input nz-input placeholder="Active"   /> -->
            <!-- <nz-form-label [nzSpan]="6" nzFor="active">Active</nz-form-label> -->

            <nz-form-control>
              <nz-switch class="mr-3"> </nz-switch> <strong>Enable Default Sidebar</strong>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
        <div class="col-6">
          <div class="row">
            <div class="col-md-12">
              <nz-form-item>
                <h4>General Settings</h4>
                <nz-form-control>
                  <nz-switch class="mr-3"> </nz-switch> Active
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4 class="mb-2">Sharing Settings</h4>
            <nz-form-item>
                <nz-form-control>
                    <button class="mr-3" nz-button nzType="default">Push Notification</button>
                    <button class="mr-3" nz-button nzType="default">Twitter</button>
                    <button class="mr-3" nz-button nzType="default">Facebook</button>
                </nz-form-control>
            </nz-form-item>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <nz-form-item>
                    <nz-form-label>Tags</nz-form-label>
                    <nz-form-control>
                        <nz-select [nzSize]="size" nzMode="multiple" nzPlaceHolder="Please select">
                            <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label"
                                [nzValue]="option.value"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                  <div class="d-flex">
                      <nz-form-item>
                          <input type="text" placeholder="Enter Tag" dir="rtl" nz-input>
                          <button class="mr-3" nz-button nzType="default">Create</button>
                      </nz-form-item>
                  </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <nz-form-item>
                <nz-form-label>Related Quotes</nz-form-label>
                <nz-form-control>
                    <nz-select [nzSize]="size" nzMode="multiple" nzPlaceHolder="Please select">
                        <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label"
                            [nzValue]="option.value"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            </div>
          </div>
          <div class="rwo">
            <div class="col-md-12">
              <div class="mb-4">
                <h4 class="mb-2">SEO Settings</h4>
                <nz-form-item>
                    <nz-form-label>Slug Line</nz-form-label>
                    <nz-form-control>
                        <input type="text" placeholder="Enter Slug Line" dir="rtl" nz-input>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Title</nz-form-label>
                    <nz-form-control>
                        <input type="text" placeholder="Enter Title" dir="rtl" nz-input>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Description</nz-form-label>
                    <nz-form-control>
                        <textarea type="text" placeholder="Enter Description" dir="rtl" nz-input></textarea>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Keyords</nz-form-label>
                    <nz-form-control nzExtra="Enter keywords seperated by a comma (,) .">
                        <input type="text" placeholder="Enter Keywords" dir="rtl" nz-input>
                    </nz-form-control>
                </nz-form-item>
            </div>
            </div>
          </div>
      </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-md-12">
              <nz-form-item>
                <nz-form-control>
                  <button class="mr-3" nz-button nzType="primary">Save</button>
                  <button nz-button nzType="default">Cancel</button>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
<div class="row">



  <!-- <form nz-form class="ant-advanced-search-form" [nzLayout]="validateForm.get('formLayout')?.value" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="isHorizontal ? 4 : null">Form Layout</nz-form-label>
      <nz-form-control [nzSpan]="isHorizontal ? 14 : null">
        <nz-radio-group formControlName="formLayout">
          <label nz-radio-button [nzValue]="'horizontal'">Horizontal</label>
          <label nz-radio-button [nzValue]="'vertical'">Vertical</label>
          <label nz-radio-button [nzValue]="'inline'">Inline</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="isHorizontal ? 4 : null">Field A</nz-form-label>
      <nz-form-control [nzSpan]="isHorizontal ? 14 : null" nzErrorTip="Please input your username!">
        <input nz-input formControlName="fieldA" placeholder="input placeholder" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="isHorizontal ? 4 : null">Field B</nz-form-label>
      <nz-form-control [nzSpan]="isHorizontal ? 14 : null" nzErrorTip="Please input your Password!">
        <input nz-input formControlName="filedB" placeholder="input placeholder" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSpan]="isHorizontal ? 14 : null" [nzOffset]="isHorizontal ? 4 : null">
        <button nz-button nzType="primary">Submit</button>
      </nz-form-control>
    </nz-form-item>
  </form> -->