<div class="row">
    <div class="col-md-2">
        <button nz-button [nzType]="'primary'" [routerLink]="['/episodes/add']">Add Episode</button>
    </div>
    <div class="col-md-10">
        <episode-filter></episode-filter>
    </div>
    <div class="col-lg-12 mt-3">
        <nz-card>
            <div>
                <nz-table #ordersListTable [nzData]="ordersList" [nzShowPagination]="true" class="no-border-last">
                    <thead>
                        <tr>
                            <th colspan="2">Title</th>
                            <th>Program</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th>User</th>
                            <th>Views</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of ordersListTable.data">
                            <td [nzChecked]="setOfCheckedId.has(item.id)" [nzDisabled]="item.disabled"
                            (nzCheckedChange)="onItemChecked(item.id, $event)">{{item.id}}</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <nz-avatar [nzSize]="30" nzIcon="user" [nzSrc]="item.avatar"></nz-avatar>
                                    <h6 class="m-l-10 m-b-0">{{item.name}}</h6>
                                </div>
                            </td>
                            <td>Sample Title Test</td>
                            <td>{{item.date}}</td>
                            <td>{{item.date}}</td>
                            <td>Sample User</td>
                            <td>10k</td>
                            <td>
                                <nz-badge *ngIf="item.status === 'approved'" nzStatus="success"></nz-badge>
                                <nz-badge *ngIf="item.status === 'rejected'" nzStatus="error"></nz-badge>
                                <nz-badge *ngIf="item.status === 'pending'"  nzStatus="processing"></nz-badge> 
                                <span class="text-capitalize"></span>
                            </td>
                            <td>
                                <div class="d-flex justify-content-between">
                                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </nz-card>
    </div>
</div>
