<div class="row">
    <div class="col-2">
        <button nz-button [nzType]="'primary'" [routerLink]="['/socialMedia/add']">Add Social Media</button>
    </div>
    <div class="col-10">
        <socialMedia-filter></socialMedia-filter>
    </div>
    <div class="col-lg-12 mt-3">
        <nz-card>
            <!-- <div class="d-flex justify-content-between align-items-center">
                <h5>Recent Orders</h5>
                <div>
                    <a nz-button nzType="default" nzSize="small">View All</a>
                </div>
            </div> -->
            <div>
                <nz-table #ordersListTable [nzData]="ordersList"  [nzShowPagination]="true" class="no-border-last">
                    <thead>
                        <tr>
                            <th>Reorder </th>
                            <th>Title </th>
                            <th>Link</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of ordersListTable.data">
                            <td [nzChecked]="setOfCheckedId.has(item.id)" [nzDisabled]="item.disabled"
                                (nzCheckedChange)="onItemChecked(item.id, $event)"></td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <nz-avatar [nzSize]="30" nzIcon="user" [nzSrc]="item.avatar"></nz-avatar>
                                    <h6 class="m-l-10 m-b-0">{{item.name}}</h6>
                                </div>
                            </td>
                            <td>http://localhost:4300/socialMedia/list</td>
                            <!-- <td>{{item.date}}</td>
                            <td>{{item.date}}</td>
                            <td>${{item.amount | number:'3.2-5'}}</td> -->
                            <td>
                                <nz-badge *ngIf="item.status === 'approved'" nzStatus="success"></nz-badge>
                                <nz-badge *ngIf="item.status === 'rejected'" nzStatus="error"></nz-badge>
                                <nz-badge *ngIf="item.status === 'pending'"  nzStatus="processing"></nz-badge> 
                                <!-- <span class="text-capitalize">{{item.status}}</span> -->
                            </td>
                            <td>
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-external-link-alt"></i>
                                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                                    <i nz-icon nzType="bell" nzTheme="outline"></i>
                                    <i nz-icon nzType="link" nzTheme="outline"></i>
                                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
                <!-- <div class="m-t-20 text-center text-md-right">
                    <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
                </div> -->
            </div>
        </nz-card>
    </div>
</div>
