<section>
  <br>
  <br>
  <div class="col-12">
    <form [formGroup]="addressForm" nz-form [nzLayout]="'vertical'" (ngSubmit)="branches()">
      <div class="row">
        <div class="col-6">
      <div class="row">
        <div class="col-md-12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="text">Title</nz-form-label>
            <nz-form-control nzErrorTip="Enter Title!">
              <input nz-input formControlName="title" placeholder="Enter Title" dir="rtl" />
            </nz-form-control>
          </nz-form-item>
        </div>
          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label nzRequired>Phone </nz-form-label>
              <nz-form-control nzErrorTip="Enter correct Phone Number only digits allowed!">
                <input type="text" nz-input formControlName="phone" placeholder="Enter Phone">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label nzRequired>Fax</nz-form-label>
              <nz-form-control nzErrorTip="Enter correct Fax only digits allowed!">
                <input type="text" nz-input formControlName="fax" placeholder="Enter Fax">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label nzRequired>Address Line 1 </nz-form-label>
              <nz-form-control nzErrorTip="Enter Address Line 1!">
                <input type="text" nz-input formControlName="addressLine1" placeholder="Enter Address">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label nzRequired>Address Line 2</nz-form-label>
              <nz-form-control nzErrorTip="Enter Address Line 2!">
                <input type="text" nz-input formControlName="addressLine2" placeholder="Enter Address">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="email">Email</nz-form-label>
            <nz-form-control nzErrorTip="Enter valid Email!">
              <input nz-input formControlName="email" placeholder="Enter Email" />
            </nz-form-control>
          </nz-form-item>
          </div>
          <div class="col-md-12">
            <nz-form-item>
              <nz-form-control >
                <nz-switch class="mr-3" formControlName="isActive"> </nz-switch> Active
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-12">
            <nz-form-item>
              <nz-form-control >
                <button *ngIf="!branchId" class="mr-3" nz-button nzType="primary">Save</button>
                <button *ngIf="branchId" class="mr-3" nz-button nzType="primary">Update</button>
                <button nz-button nzType="default" (click)="cancel()">Cancel</button>
              </nz-form-control>
            </nz-form-item>
          </div>
      </div>
        </div>
      </div>
    </form>
  </div>
</section>