<section>
  <br>
  <br>
  <div class="col-12">
    <form nz-form [nzLayout]="'vertical'">
      <div class="row">
        <div class="col-6">
      <div class="row">
        <div class="col-md-12">
          <nz-form-item>
            <nz-form-label  nzFor="text">Title</nz-form-label>
            <nz-form-control >
              <input nz-input placeholder="Enter Title" dir="rtl" />
            </nz-form-control>
          </nz-form-item>
        </div>
          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label >Phone </nz-form-label>
              <nz-form-control >
                <input type="text" nz-input placeholder="Enter Phone">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label >Fax</nz-form-label>
              <nz-form-control >
                <input type="text" nz-input placeholder="Enter Fax">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label >Address Line 1 </nz-form-label>
              <nz-form-control >
                <input type="text" nz-input placeholder="Enter Address">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label >Address Line 2</nz-form-label>
              <nz-form-control >
                <input type="text" nz-input placeholder="Enter Address">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-12">
          <nz-form-item>
            <nz-form-label nzFor="email">Email</nz-form-label>
            <nz-form-control >
              <input nz-input placeholder="Enter Email" />
            </nz-form-control>
          </nz-form-item>
          </div>
          <div class="col-md-12">
            <nz-form-item>
              <nz-form-control >
                <nz-switch class="mr-3"> </nz-switch> Active
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-12">
            <nz-form-item>
              <nz-form-control >
                <button class="mr-3" nz-button nzType="primary">Save</button>
                <button nz-button nzType="default">Cancel</button>
              </nz-form-control>
            </nz-form-item>
          </div>
      </div>
        </div>
      </div>
    </form>
  </div>
</section>