<section>
    <br>
    <br>
    <div *ngIf="!loader" class="col-12">
      <form [formGroup]="jobForm" nz-form [nzLayout]="'vertical'" (ngSubmit)="jobs()">
        <div class="row">
          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label nzRequired [nzSpan]="6" nzFor="text">Title</nz-form-label>
              <nz-form-control [nzSpan]="14" nzErrorTip="Enter Title!">
                <input nz-input formControlName="title" placeholder="Enter Title" dir="rtl" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-6">
            <nz-form-item>
              <nz-form-label nzRequired [nzSpan]="6">Branch</nz-form-label>
              <nz-form-control [nzSpan]="14" nzErrorTip="Select Branch!">
              <nz-select nzShowSearch nzAllowClear formControlName="branchId" nzPlaceHolder="Choose Branch">
                <nz-option *ngFor="let branch of allBranches" [nzValue]="branch?.id" [nzLabel]="branch?.title"></nz-option>
              </nz-select>
            </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-md-12">
            <nz-form-item>
                <nz-form-label nzRequired [nzSpan]="6">Description</nz-form-label>
                <nz-form-control [nzSpan]="14" nzErrorTip="Enter Description maximum 1500 characters allowed!">
                    <ckeditor [editor]="Editor" formControlName="description"></ckeditor>
                </nz-form-control>
            </nz-form-item>
        </div>
            <div class="col-md-12">
              <nz-form-item>
                <!-- <input nz-input placeholder="Active"   /> -->
                <!-- <nz-form-label [nzSpan]="6" nzFor="active">Active</nz-form-label> -->
    
                <nz-form-control [nzSpan]="14">
                  <nz-switch class="mr-3" formControlName="isActive"> </nz-switch> Active 
                </nz-form-control>
              </nz-form-item>
            </div>
  
            <div class="col-md-12">
              <nz-form-item>
                <nz-form-control [nzSpan]="14">
                  <button *ngIf="!jobId" class="mr-3" nz-button nzType="primary">Save</button>
                  <button *ngIf="jobId" class="mr-3" nz-button nzType="primary">Update</button>
                  <button nz-button nzType="default" (click)="cancel()">Cancel</button>
                </nz-form-control>
              </nz-form-item>
            </div>
        </div>
      </form>
    </div>
  </section>