<h1>Welcome to CNBC Arabia</h1>
<div class="dashboard-cards">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <nz-card>
                <h5>Riyadh, KSA</h5>
                <h5 class="m-0">10:30am<br>Saturday, 18 April 2022</h5>
            </nz-card>
        </div>
        <div class="col-lg-3 col-sm-6">
            <nz-card>
                <h5>Dubai, UAE</h5>
                <h5 class="m-0">10:30am<br>Saturday, 18 April 2022</h5>
            </nz-card>
        </div>
        <div class="col-lg-3 col-sm-6">
            <nz-card>
                <h5>London, UK</h5>
                <h5 class="m-0">10:30am<br>Saturday, 18 April 2022</h5>
            </nz-card>
        </div>
        <div class="col-lg-3 col-sm-6">
            <nz-card>
                <h5>New York, USA</h5>
                <h5 class="m-0">10:30am<br>Saturday, 18 April 2022</h5>
            </nz-card>
        </div>
    </div>
</div>

<div class="mb-4">
    <h3>Quick Actions</h3>
    <button nztype="primary" class="ant-btn ant-btn-primary m-r-10">
        <i nztype="download" class="anticon anticon-download"></i>
        <span [routerLink]="['/news/add']">Add News</span>
    </button>
    <button nztype="primary" class="ant-btn ant-btn-primary m-r-10">
        <i nztype="download" class="anticon anticon-download"></i>
        <span [routerLink]="['/breakingNews/add']">Add Breaking News</span>
    </button>
    <button nztype="primary" class="ant-btn ant-btn-primary m-r-10">
        <i nztype="download" class="anticon anticon-download"></i>
        <span [routerLink]="['/news/specialNews/featuredNews']">Featured News</span>
    </button>
    <button nztype="primary" class="ant-btn ant-btn-primary m-r-10">
        <i nztype="download" class="anticon anticon-download"></i>
        <span [routerLink]="['/news/specialNews/trendingNow']">Trending Now</span>
    </button>
    <button nztype="primary" class="ant-btn ant-btn-primary m-r-10">
        <i nztype="download" class="anticon anticon-download"></i>
        <span [routerLink]="['/news/specialNews/editorsChoice']">Editor's Choice</span>
    </button>
    <button nztype="primary" class="ant-btn ant-btn-primary m-r-10">
        <i nztype="download" class="anticon anticon-download"></i>
        <span [routerLink]="['/news/specialNews/exclusiveVideos']">Exclusive Videos</span>
    </button>
</div>
<div class="mb-4">
    <h3>Analytics</h3>
    <nz-card>
        <h3 class="mb-0 text-center">Google Analytics Data</h3>
    </nz-card>
</div>
<div class="mb-4">
    <h3>Social Media Feed</h3>
    <div class="row">
        <div class="col-md-4">
 
        </div>
        <div class="col-md-4">
            <nz-card>
                <h3 class="mb-0 text-center">Facebook</h3>
                <h6>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. </h6>
                <p>Last updated 3 mins ago</p>
            </nz-card>
        </div>
    </div>    
</div>
